<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
  <span aria-hidden="true">&times;</span>
</button>
<div class="mainDiv">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-12">
        <h1>Create An Account</h1>
        <p>Sign up to see school event schedules and find deals near you!</p>
      </div>
    </div>
    <form [formGroup]="signUpForm">
      <div class="row">
        <div class="col-md-12 pr-4 inputbox pt-3">
          <div class="input-div">
            <label class="label-text">Full Name</label>
            <input type="text" placeholder="Enter Full Name" class="form-control formInputs"
              formControlName="fullName" />
            <p class="error-text" *ngIf="signUpFormSubmitted && signUpForm.controls.fullName.errors?.required">
              Name
              is required!.</p>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-6 pr-4 inputbox">
          <div class="input-div">
            <label class="label-text">Email</label>
            <input type="text" placeholder="Enter Email" class="form-control formInputs"
              formControlName="emailAddress" />
            <p class="error-text" *ngIf="signUpFormSubmitted && signUpForm.controls.emailAddress.errors?.required">Email
              is
              required!.</p>
            <p class="error-text" *ngIf="signUpFormSubmitted && signUpForm.controls.emailAddress.errors?.email">Email
              is
              not valid!.</p>
          </div>
        </div>

        <div class="col-md-6 pl-4 inputbox">
          <div class="input-div">
            <label class="label-text">Password</label>
            <input type="password" placeholder="Enter Password" class="form-control formInputs"
              formControlName="password" />
            <p class="error-text" *ngIf="signUpFormSubmitted && signUpForm.controls.password.errors?.required">Password
              is
              required!.</p>
          </div>
        </div>
      </div>


      <div class="row mt-3 emailPassinputbox">
        <div class="col-md-6 pr-4 inputbox">
          <div class="input-div">
            <label class="label-text">Gender</label>
            <!-- <select class="form-control formInputs" formControlName="gender">
              <option selected disabled>Select Gender</option>
              <option>Male</option>
              <option>Female</option>
            </select> -->
            <div class=" select-gender-div singup pr-lg-4 ">
              <mat-form-field appearance="fill">
                  <mat-select   formControlName="gender">
                      <mat-option disabled>Select Gender</mat-option>
                      <mat-option value="male">Male</mat-option>
                      <mat-option value="female">Female</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
            <p class="error-text" *ngIf="signUpFormSubmitted && signUpForm.controls.gender.errors?.required">Gender
              is
              required!.</p>
          </div>
        </div>

        <div class="col-md-6 pl-4 inputbox">
          <div class="input-div">
            <label class="label-text">Date of Birth</label>
            <input type="date" placeholder="DD/MM/YYYY" class="form-control formInputs" formControlName="dob" />
            <p class="error-text" *ngIf="signUpFormSubmitted && signUpForm.controls.dob.errors?.required">Date of Birth
              is
              required!.</p>
          </div>
        </div>
      </div>
    </form>

    <div class="row mt-5">
      <div class="col-md-12 submitButton">
        <button type="button" class="btn btn-primary submitButtonStyle" (click)="submitData()">Sign Up</button>
      </div>
    </div>

  </div>
</div>
