@import "../../shared/theme/variable.scss";

h1 {
  font-size: 36px;
  color: #ffffff !important;
}

p{
    font-size: 18px;
    color: #ffffff;
}

label{
  color: #ffffff !important;
  font-size: 18px;
}

.mainDiv {
  background: linear-gradient(90deg, #2ea5f9, #2998e6, #1477ea);
  height: auto;
  border-radius: 10px;
}

.signupContent{
  margin-top: 100px !important;
}

.container {
  max-width: 730px;
}

.submitButton {
  display: flex;
  justify-content: center;
}

.submitButtonStyle {
  border-radius: 50px;
  background-color: #116bd9;
  width: 35%;
  height: 47px;
  font-size: 18px !important;
}

.formInputs {
  background-color: transparent !important;
  color: #ffffff !important;
  border: 1px solid #d6edff !important;
  border-radius: 25px;
  height: 44px;
}

::placeholder {
  color: #c8e2fd;
  opacity: 1; /* Firefox */
}

.label-text{
  margin-left: 15px;
}

// <------------------------------------------------MEDIA_QUERY--------------------------------->


@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
  .signupContent{
    margin-top: 0px !important;
  }

  .inputbox{
    padding: 0px !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
    margin-top: 10px !important;
  }

  .emailPassinputbox{
    margin-top: 0px !important;
  }

  .submitButtonStyle {
    border-radius: 50px;
    background-color: #116bd9;
    width: 50% !important;
    height: 47px !important;
    font-size: 22px !important;
  }
}
@media only screen and (max-width: 575px) {
}
.error-text {
  text-align: left;
  color: red;
  font-size: 12px !important;
  padding: 0px 0rem;
  margin: 5px !important;
}