@import "../../../shared/theme/variable.scss";
.bg-content {
    background: linear-gradient(90deg, #2ea5f9, #2998e6, #1477ea);
    
    width: 100%;
}
.sticky{
    background: linear-gradient(90deg, #2ea5f9, #2998e6, #1477ea);
}

button {
    outline-color: #fff !important;
}

.logo {
    width: 200px;
}

.school-btn {
    border-radius: 100px;
    margin: 10px;
    display: inline-block;
    vertical-align: baseline;
    // new css
    padding: 10px 50px;
}

.signin-btn {
    background-color: #1267db; 
    border: 0px;
    color: #ffffff;
}

a {
    font-size: 14px;
    
}

.navbar {
    ul {
        background: transparent;
    }
}

.navbar-dark .navbar-nav .nav-link  {
    color: #fff;
    font-size: 20px;
}

.navbar-dark .nav-item > .nav-link.active  {
 border-bottom: 1px solid #fff;
 padding-left: 0px;
 padding-right: 0px;
 padding-bottom: 7px;
 color: #fff;
 font-weight: bold;
}


ul li:last-child a, .dropdown .nav-link.active {
    border-bottom: none !important;
}


.reponsive {
    display: inherit;
}

.reponsive-li {
    display: none;
}


//dropdown css
.dropdown-menu {
    top: 65%;
    right: 0px;
    min-width: 5rem;
    border: 0px solid transparent !important;
    background: $tertiary-color;
    a{
        color: #fff;
    }
    a:hover{
        color: #fff;
        background: $primary-color;
    }
}


.dropdown-menu.profile{
    top: 80%;
    left: -30px !important;
    min-width: 10rem !important;
}

.dropdown-toggle::after{
    content: none !important;
}


.dropdown-item{
    color: $primary-color;
}

@media (min-width: 768px) {
    .image1{
        display: block;
      }
    .image2{
        display: none;
      }
    .navbar-toggle {
        display: none;
    }
    .reponsive-li {
        display: none;
    }
    //dropdown css
    .dropdown-menu{
     
        min-width: 5rem !important;
        text-align: center;
       
    }
    .dropdown:hover>.dropdown-menu.explore {display: block;}
    .dropdown:hover>.dropdown-menu.profile {display: block;}

}

@media (max-width: 767px) {
    .image1{
        display: none;
      }
   
      .image2{
        display: block;
      }
    .navbar-collapse {
        a {
            color: $primary-color !important;
            padding: 0px !important;
        }
        li {
            padding: 1rem !important;
            text-align: center;
        }
        ul {
            background: #fff;
            border-radius: 5px;
        }
    }
    .reponsive-li {
        display: block;
    }
    .reponsive {
        display: none;
    }
    //dropdown css
    .dropdown-menu{
      
        min-width: 5rem !important;
        text-align: center;
       
    }

}

@media(max-width:768px) {

    .navbar {
        ul {
            background: #fff;
            margin: 1rem 0rem;
        }
        a {
            color: $primary-color !important;
            font-weight: 600;
        }
    }
    .reponsive-li {
        display: block;
    }
    .reponsive {
        display: none;
    }
    //dropdown css
    .dropdown-menu{
        min-width: 5rem !important;
        text-align: center;
        background:#fff;
        a{
            color:  $primary-color;
            height: 50px;
        }
        a:hover{
            color:  #fff !important;
            background: $primary-color;
        }
    }
    
}

@media only screen and (width: 768px) and (height: 1024px) {
    .image1{
        display: none;
      }
   
      .image2{
        display: block;
      }
}