<nav class="navbar navbar-expand-lg navbar-dark fixed-top sticky" id="mynavbar">
    <div class="container">
        <a class="navbar-brand" href="/"><img class="logo" src="./assets/new-logo-white.png"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
            <div>
                <div class="reponsive">
                </div>
                <ul class="navbar-nav  text-center ml-auto" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <li class="nav-item  p-4">
                        <a class="nav-link " routerLink="/option-popup" routerLinkActive="active">Buy Tickets
                        </a>
                    </li>
                    <li class="nav-item dropdown p-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Explore
                        </a>
                        <div class="dropdown-menu explore" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item ev" routerLink="/near-events">Events</a>
                            <a class="dropdown-item deal" routerLink="/near-deals">Deals</a>
                        </div>
                    </li>
                    <!-- <li class="nav-item p-4">
                        <a class="nav-link" routerLink="/near-deals-events" routerLinkActive="active">Explore</a>
                    </li> -->
                    <!-- <li class="nav-item p-4">
                        <a class="nav-link" routerLink="/buy-pass" routerLinkActive="active">Buy Passes</a>
                    </li> -->
                    <li class="nav-item p-4">
                        <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About</a>
                    </li>
                    <li class="nav-item dropdown p-3" *ngIf="loggedIn">
                        <a class="nav-link dropdown-toggle"   href="#" id="navbarDropdown1" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="image1" style="width: 45px;" src="./assets/home/profile.png" />
                            <img class="image2 m-auto" src="./assets/home/user_selected.png" />
                        </a>
                        <div class="dropdown-menu profile" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item ev"     routerLink="/purchase-history">Purchase History</a>
                            <a class="dropdown-item deal"  routerLink="/event-history">Event History</a>
                            <a class="dropdown-item deal" routerLink="/my-cards">View My Card</a>
                            <a class="dropdown-item deal"  routerLink="/profile">View Profile</a>
                        </div>
                    </li>
                    <!-- <li class="pt-3">
                        <button type="button" *ngIf="!loggedIn" (click)="openLoginModel()"
                            class="btn btn-light school-btn signin-btn mt-2">
                            Sign In
                        </button>
                        <button type="button" *ngIf="!loggedIn" (click)="openSignUpModel()"
                            class="btn btn-light school-btn signin-btn mt-2">
                            Sign Up
                        </button>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</nav>