<div class="mainDiv school-detail-section pt-5 mt-5 pb-5">
    <div class="container">
    <!-- section-1 after header -->
    <!-- <div *ngIf="!school" class="bg-content pt-5">
        <div class="container text-center pt-5 title">
            <ngx-skeleton-loader count="2"
                [theme]="{ width: '80%', height: '40px', 'border-radius': '10px', 'opacity':' 0.30' }">
            </ngx-skeleton-loader>
        </div>
    </div> -->
    <!-- <div class="bg-content pt-5">

        <div class="container text-center pt-5 title">
            <ngx-skeleton-loader count="2" *ngIf="!school"
                [theme]="{ width: '80%', height: '40px', 'border-radius': '10px', 'opacity':' 0.30' }">
            </ngx-skeleton-loader>
            <h1 *ngIf="school" class="mt-5 pt-4 text-uppercase text-light "> {{school.SchoolName}}</h1>
            <p *ngIf="school" class="text-uppercase text-light">{{school.Slogan}}</p>

           

            <div class="school-card pt-2">
                <ngx-skeleton-loader count="1" *ngIf="!school.CardImage"
                    [theme]="{ width: '350px', height: '230px', 'border-radius': '10px','margin-bottom': '-45px', 'opacity':' 0.30' }"
                    appearance="circle">
                </ngx-skeleton-loader>
                <img *ngIf="school" src="{{school.CardImage}}" />
            </div>
        </div>
    </div> -->
    <!-- section-1 completed -->

    <!-- section-2 events card -->
    <!-- <div class="deals-card mt-5 pt-4">
        <div class="container" *ngIf="eventList && eventList.length > 0">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-4 col-md-4 col-sm-4 my-3 list" *ngFor="let item of eventList"
                    (click)="navToBuyTicket(item)">
                    <div class="card fanCard m-2">
                        <div class="card-body passCardBody">
                            <p class="card-text title bold">{{item.Name}}</p>
                            <p class="card-text subtext">{{item.Team}}</p>
                            <div class="row bottomTime">
                                <div class="col-9 col-lg-9 col-sm-9 col-md-9 bottomSchoolName">
                                    <img class="d-inline-block" src="./assets/pin.png" />
                                    <p class="card-text matchLocation d-inline-block">@ {{item.Address}}</p>
                                    <p class="card-text matchTime">{{item.Date}}</p>
                                </div>
                                <div class="col-3 col-lg-3 col-sm-3 col-md-3  freeCard" *ngIf="item.Payment == 0">
                                    <p class="card-text"><b>Free</b> With Fancard</p>
                                </div>
                                <div class="col-3 col-lg-3 col-sm-3 col-md-3  paidCard" *ngIf="item.Payment == 1">
                                    <p class="card-text"><b>$ {{item.TicketPrice}}</b> Paid Event</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="eventList && eventList.length == 0" class="no-found">
            <img class="" src="../../../assets/no-data.png" />
            <h2 class="mt-5">
                No Events found
            </h2>
        </div>
    </div> -->
    <div class="row mt-5 cardRow ">
        <div class="col-12 col-lg-8 col-md-8 col-sm-8  text-center text-lg-left text-md-left d-flex align-items-center">
            <div>
                <div class="school-card pt-2 pb-5">
                    <ngx-skeleton-loader count="1" *ngIf="!school.CardImage"
                        [theme]="{ width: '350px', height: '230px', 'border-radius': '10px','margin-bottom': '-45px', 'opacity':' 0.30' }"
                        appearance="circle">
                    </ngx-skeleton-loader>
                    <img *ngIf="school" src="{{school.CardImage}}" />
                </div>
                <h2 *ngIf="school" class="title mt-4">{{school.SchoolName}}</h2>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-md-4 col-sm-4 get-fancard-div d-flex align-items-center">
            <div>
                <h4 class="d-block pt-2 pb-2">Want addmission to all home events?</h4>
                <button type="button" class="btn btn-light fanCard-btn mt-4 " (click)="gotoPage()">
                   Get a Fancard!
                </button>
            </div>
           
        </div>
    </div>
    

    <div class="mt-5">
        <tabset [justified]="true">
            <tab heading="Events" class="m-auto"  id="tab1">
                <div class="container mt-4" *ngIf="eventList && eventList.length > 0" >
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-4 col-md-4 col-sm-4 my-3 d-flex align-items-center" *ngFor="let item of eventList" (click)="navToBuyTicket(item)">
                            <div class="card fanCard m-2">
                                <div class="card-body passCardBody">
                                    <p class="card-text title bold">{{item.Name}}</p>
                                    <p class="card-text subtext">{{item.Team}}</p>
                                    <div class="row bottomTime">
                                        <div class="col-9 col-lg-9 col-sm-9 col-md-9 bottomSchoolName">
                                            <img src="./assets/pin.png" />
                                            <p class="card-text matchLocation">@ {{item.Address}}</p>
                                            <p class="card-text matchTime">{{item.Date}}</p>
                                        </div>
                                        <div class="col-3 col-lg-3 col-sm-3 col-md-3  freeCard" *ngIf="item.Payment == 0">
                                            <p class="card-text"><b>Free</b> With Fancard</p>
                                        </div>
                                        <div class="col-3 col-lg-3 col-sm-3 col-md-3  paidCard" *ngIf="item.Payment == 1">
                                            <p class="card-text"><b>$ {{item.TicketPrice}}</b> Paid Event</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- IF DATA IS NULL -->
                <div *ngIf="eventList && eventList.length == 0" class="no-found pt-5">
                    <img class="" src="./assets/no-data.png" />
                    <h2 class="mt-5">
                        No Events Found
                    </h2>
                </div>
            </tab>
            <tab heading="Deals" class="m-auto" id="tab2">
                <div class="container mt-4" *ngIf="foodCardArray && foodCardArray.length > 0" >
                    <div class="row justify-content-center main-card">
                        <div class="col-12 col-lg-4 col-md-4 col-sm-4 my-3 d-flex align-items-center" *ngFor="let item of foodCardArray" (click)="gotoDetailPage(item.Businessid)">
                                <div class="card  m-2">
                                    <img class="card-img" src="{{item.BusinassImage}}" onError="src='./assets/header/loader.png';" alt="{{item.Businassname}}">
                                    <div class="card-overlay">
                                        <h5 class="card-title text-center">{{item.OfferName}}</h5>
                                    </div>
                                    <div class="card-body p-2">
                                        <img class="cat-image" src="{{item.MarkerImage}}" />
                                        <p>{{item.Businassname}}</p>
                                        <div class="last-part pt-1" *ngIf="item.Rating && item.Rating != 0">
                                            <div class="d-inline-block">
                                                <span>{{item.Rating | rate}}</span>
                                                <div class="wrapper d-inline-block pl-2 pb-1">
                                                    <img class="star-image" src="./assets/star/{{item.Rating | rate}}.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- IF DATA IS NULL -->
                <div *ngIf="foodCardArray && foodCardArray.length == 0" class="no-found pt-5">
                    <img class="" src="./assets/no-data.png" />
                    <h2 class="mt-5">
                        No Deals Found
                    </h2>
                </div>
            </tab>
        </tabset>
    </div>

</div>

</div>