<!-- <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
  <span aria-hidden="true">&times;</span>
</button> -->
<div [ngClass]="loggedIn == true ? 'test pt-5  mt-5  pb-5' : 'mainDiv pt-5  mt-5 pb-5'">
  <div class="container pt-5 pb-5">

    <div class="row">
      <div class="col-md-12 col-xs-12 text-center Padding">
        <span class="find-text ">Find a School</span>
        <div class="searchbar mt-3 option-popup">
          <i class="fa fa-search" aria-hidden="true"></i>
          <ng2-completer class="form-control form-control-lg form-control-borderless option-popup" [(ngModel)]="searchStr"
            [datasource]="schoolData" [minSearchLength]="0" placeholder="Search here" (selected)="bsModalRef.hide();onSelectSchool($event)">
          </ng2-completer>
          <button class="btn btn-lg btn-success" type="submit">Search</button>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!loggedIn">
      <div class="col-md-12 col-xs-12 or-text my-4">
        <span>OR</span>
      </div>
    </div>
    <div class="row" *ngIf="!loggedIn">
      <div class="col-md-6 col-xs-12 signInButton">
        <button type="button" class="btn btn-primary signInButton1Style" (click)="bsModalRef.hide();navToLogin()">Sign In</button>
      </div>
      <div class="col-md-6 col-xs-12 signUpButton">
        <button type="button" class="btn btn-primary signUpButtonStyle" (click)="bsModalRef.hide();navToSignUp()">Sign Up</button>
      </div>
  </div>

  </div>
</div>
