@import "../../shared/theme/variable.scss";

h2:after {
    content: "";
    display: block;
    height: 2px;
    background:$tertiary-color;
    width: 47%;
    margin-top: 15px;
}
.school-logo img{
    width: 200px;
    
    object-fit: contain;
}
.select-school-div,.select-card-div{
    h4{
        font-family: "Caros-medium";
        font-size: 18px;
        padding-left: 13px;
    }
}
.add-minus-div{
    border: 1px solid;
    border-radius: 100px;
    
    height: 40px;
    padding: 5px 10px;
    span{
        display: inline-block;
        vertical-align: middle;
    }
    p{
        float: left;
        margin: 3px 10px;
    }
    p,span{
        font-size: 15px;
    }
    span{
        margin: 0px 3px;
    }
    img{
        width: 18px;
        margin: 5px;
    }
    #minus{
        float: right;
        
    }
}
.adult-form{
    background: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 6px 10px 0 #e9eaef;
    padding: 20px 10px;
    width: 450px;
   
    .form-control{
        border: 1px solid #545353 !important;
        border-radius: 100px !important;
        background: transparent !important;
        padding: 15px 20px;
        font-size: 15px;
        width: 200px;
    }
    .form-control:focus{
        box-shadow: none !important;
    }
    label{
        padding-left: 20px;
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 0px;
        font-size: 13px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }
    span{
        display: inline-block;
        vertical-align: middle;
    }
}
.add-card-form{
    width: 460px;
    padding: 10px 0px 0px 24px;
    p{
        color: #222;
        font-family: "Caros-medium";
        font-size: 16px;
    }
    .form-control{
        background: #f8f8f8 !important;
        font-size: 15px !important; 
        border:none !important
    }
    .form-control ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #222;
    }
    .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #222;
       opacity:  1;
    }
    .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #222;
       opacity:  1;
    }
    .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #222;
    }
    .form-control::-ms-input-placeholder { /* Microsoft Edge */
       color:    #222;
    }
    
    .form-control::placeholder { /* Most modern browsers support this now. */
       color:    #222;
    }
}
.checkout-card p{
    color: #222;
    font-family: "Caros-medium";
    font-size: 16px;
}
.list-group{
    padding: 20px;
    background-color:  #f8f8f8!important;
  }
  
  .list-group-item{
    background-color:  #f8f8f8!important;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
    h6{
        font-size: 14px;
    }
  }
  
  .purchaseButton{
    border-bottom: none !important;
  }
  
  .purchaseButtonStyle {
    border-radius: 50px;
    background-color: #116bd9;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none !important;
    font-size: 15px;
  }
  .checkout-card{
    width: 450px;
  }
  .cvv-input{
    background: #f8f8f8;
    border: none;
    padding: 6px 22px;
  }
  .card-input{
    background: #f8f8f8;
    border: none;
    padding: 6px 22px;
    width: 100%;
  }

    /*------RESPONSIVE CSS START HERE------*/
/*---SMALL DEVIES------*/
@media only screen and (min-width: 320px) and (max-width: 500px) {
    .checkout-card,.add-card-form{
        width: 100%;
        margin: 0px auto;
    }
    .add-card-form{
        padding: 0px !important;
    }
    .adult-form{
        width: auto !important;
    }
    .cvv-input{
    
        padding: 6px 11px !important;
        width: 166px !important;
    }
    .adult-form .form-control{
        width: 100% !important;
    }
}
@media only screen and (width: 768px) and (height: 1024px) {
    .adult-form{
        width: auto !important;
        input{
            width: 100% !important;
        }
    }
}