<!-- BUY PASSES PAGE START HERE -->
<div class="maindiv-section mt-5 pt-5">
    <div class="container pt-5">
        <div class="row">
            <div
                class="col-12 col-lg-6 col-md-6 col-sm-6 d-flex align-items-center justify-content-center justify-content-lg-start justify-content-sm-start justify-content-md-start">
                <div class="title">
                    <h2>Buy Passes</h2>
                </div>
            </div>
            <div
                class="col-12 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center justify-content-lg-end justify-content-md-end justify-content-sm-end pt-2">
                <div class="school-logo">
                    <img *ngIf="schoolLogo" [src]="schoolLogo" />
                </div>
            </div>
        </div>
        <!-- Select school section and card type -->
        <div class="row">
            <div
                class="col-12 col-lg-6 col-md-6 col-sm-6 d-flex align-items-center justify-content-center justify-content-lg-end  justify-content-md-end  justify-content-sm-end">
                <div class="select-school-div  pr-lg-4">
                    <h4 class="pb-2">Select Card Type</h4>
                    <mat-form-field appearance="fill">
                        <mat-select [(ngModel)]="selectedVal" (valueChange)="cardChange($event)">
                            <mat-option *ngFor="let card of cards" [value]="card.value">
                                {{card.name}}
                            </mat-option>
                            <mat-option *ngIf="showSeniorCardDisplay == '1'" value="seniorcard">
                                Senior card
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div
                class="col-12 col-lg-6 col-md-6 col-sm-6 d-flex align-items-center justify-content-center justify-content-lg-start justify-content-md-start justify-content-sm-start">
                <div class="select-card-div  pl-lg-4">
                    <h4 class="pb-2">Select School</h4>
                    <mat-form-field appearance="fill">
                        <mat-select [(ngModel)]="selectedSchl" (valueChange)="schoolChange($event)">
                            <mat-option *ngFor="let item of schoolList" [value]="item">
                                {{item.SchoolName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
               </div>
            </div>
        </div>

        <!--add minus row-->
        <div class="row pt-4">
            <div class="col-6 col-lg-6 col-md-6 col-sm-6 d-flex align-items-center justify-content-end" *ngIf="showAdultBtn">
                <div class="add-minus-div mr-lg-4">
                    <p>Adult</p>
                    <img src="./assets/buy-passes/+.png" (click)="addAdult()" />
                    <span>{{adultCount}}</span>
                    <img src="./assets/buy-passes/_.png" #minus (click)="removeAdult()" />
                </div>
            </div>
            <div class="col-6 col-lg-6 col-md-6 col-sm-6 d-flex align-items-center" *ngIf="showChildBtn"> 
                <div class="add-minus-div ml-lg-4">
                    <p>Child</p>
                    <img src="./assets/buy-passes/+.png" (click)="addChild()" />
                    <span>{{childCount}}</span>
                    <img src="./assets/buy-passes/_.png" #minus (click)="removeChild()" />
                </div>
            </div>
        </div>

        <!--form filed-->
        <div class="row pt-4">
            <div class="col-12 col-lg-6 col-md-6 col-sm-6 d-flex align-items-center justify-content-lg-end" id="adult">
                <form [formGroup]="addAdultForm">

                    <div class=" mr-lg-4 m-3" formArrayName="itemRows"
                        *ngIf="addAdultForm && addAdultForm.controls.itemRows['controls'].length >= 1">
                        <div class="form-row adult-form mt-3"
                            *ngFor="let itemrow of addAdultForm.controls.itemRows['controls'];let i=index"
                            [formGroupName]="i">
                            <div class="form-group col-md-6">
                                <label for="adultName">Adult Name</label>
                                <input type="text" placeholder="Name" class="form-control" id="adultName-{{i}}"
                                    formControlName="name">
                                <p class="error-text"
                                    *ngIf="paymentCardFormSubmitted && addAdultForm.controls?.itemRows['controls'][i]?.controls?.name?.errors?.required">
                                    Adult Name
                                    is required!.</p>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="emailID">Email Id</label>
                                <input type="email" placeholder="Email-id" class="form-control" id="emailID-{{i}}"
                                    formControlName="email">

                                <p class="error-text"
                                    *ngIf="paymentCardFormSubmitted && addAdultForm.controls?.itemRows['controls'][i]?.controls?.email?.errors?.required">
                                    Email Address
                                    is required!.</p>
                                <p class="error-text"
                                    *ngIf="paymentCardFormSubmitted && addAdultForm.controls?.itemRows['controls'][i]?.controls?.email?.errors?.email">
                                    Email Address
                                    is not valid!.</p>

                            </div>
                            <p><span>*</span>Pass will be emailed to this address.</p>
                        </div>

                    </div>
                </form>

            </div>
            <div class="col-12 col-lg-6 col-md-6 col-sm-6 d-flex align-items-center" id="child">
                <form [formGroup]="addChildForm">
                    <div class=" ml-lg-4 m-3" formArrayName="itemRows"
                        *ngIf="addChildForm && addChildForm.controls.itemRows['controls'].length >= 1">
                        <div class="form-row adult-form mt-3"
                            *ngFor="let itemrow of addChildForm.controls.itemRows['controls'];let j=index"
                            [formGroupName]="j">
                            <div class="form-group col-md-6">
                                <label for="adultName">Child Name</label>
                                <input type="text" placeholder="Name" class="form-control" id="adultName-{{j}}"
                                    formControlName="name">
                                <p class="error-text"
                                    *ngIf="paymentCardFormSubmitted && addChildForm.controls?.itemRows['controls'][j]?.controls?.name?.errors?.required">
                                    Child Name
                                    is required!.</p>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="emailID">Email Id</label>
                                <input type="email" placeholder="Email-id" class="form-control" id="emailID-{{j}}"
                                    formControlName="email">
                                <p class="error-text"
                                    *ngIf="paymentCardFormSubmitted && addChildForm.controls?.itemRows['controls'][j]?.controls?.email?.errors?.required">
                                    Email Address
                                    is required!.</p>
                                <p class="error-text"
                                    *ngIf="paymentCardFormSubmitted && addChildForm.controls?.itemRows['controls'][j]?.controls?.email?.errors?.email">
                                    Email Address
                                    is not valid!.</p>
                            </div>
                            <p><span>*</span>Pass will be emailed to this address.</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Add card row -->
        <div class="row pt-4 pb-4">
            <div class="col-12 col-lg-6 col-md-6 col-sm-6 d-flex align-items-start justify-content-lg-end">
                <div class="add-card-form mr-lg-4">
                    <p>Add Payment</p>
                    <form [formGroup]="paymentCardForm">
                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="Card Number" formControlName="cardNumber" (keypress) = "numberOnly($event)"
                                (keyup)="creditCardNumberSpacing($event)">
                            <p class="error-text"
                                *ngIf="paymentCardFormSubmitted && paymentCardForm.controls.cardNumber.errors?.required">
                                Card Number
                                is required!.</p>
                            <p class="error-text"
                                *ngIf="paymentCardFormSubmitted && paymentCardForm.controls.cardNumber.errors?.minLength">
                                Card number is not valid.</p>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="holderName" placeholder="Card Holder Name"
                                formControlName="cardHolderName">
                            <p class="error-text"
                                *ngIf="paymentCardFormSubmitted && paymentCardForm.controls.cardHolderName.errors?.required">
                                Card Holder Name
                                is required!.</p>

                        </div>
                        <!-- <div class="form-group">
                            <input type="text" class="form-control" placeholder="Card Holder Email" formControlName="cardHolderEmail">
                            <p class="error-text" *ngIf="paymentCardFormSubmitted && paymentCardForm.controls.cardHolderEmail.errors?.required">
                                Card Holder Email
                                is required!.</p>
                            <p class="error-text" *ngIf="paymentCardFormSubmitted && paymentCardForm.controls.cardHolderEmail.errors?.email">
                                Card Holder Email
                                is Invalid!.</p>
                        </div> -->
                        <div class="form-row">
                            <div class="form-group col-6 col-lg-6 col-md-12">
                                <input type="text" class="form-control" id="cvv" placeholder="CVV" (keypress) = "numberOnly($event)"
                                    formControlName="cardCVV">
                                <p class="error-text"
                                    *ngIf="paymentCardFormSubmitted && paymentCardForm.controls.cardCVV.errors?.required">
                                    Card CVV Number
                                    is required!.</p>
                                <p class="error-text"
                                    *ngIf="paymentCardFormSubmitted && paymentCardForm.controls.cardCVV.errors?.maxLength">
                                    Card CVV Number
                                    is not valid!.</p>
                            </div>
                            <div class="form-group col-6 col-lg-6 col-md-12">
                                <input type="text" class="cvv-input" [patterns]="customPatterns"
                                    [specialCharacters]="['\/' ]" mask="xx/xx" [showMaskTyped]="true"
                                    placeHolderCharacter="x" formControlName="cardExp"
                                    [dropSpecialCharacters]="false" />
                                <p class="error-text"
                                    *ngIf="paymentCardFormSubmitted && paymentCardForm.controls.cardExp.errors?.required">
                                    Card Expiry Date
                                    is required!.</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-sm-6 ">
                <div class="checkout-card ml-lg-4">
                    <p>Checkout</p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h6 class="font-weight-bold">Adult Pass * {{adultCount}}</h6>
                            <h6>${{adultRate * adultCount}}</h6>
                        </li>
                        <li class="list-group-item">
                            <h6 class="font-weight-bold">Child Pass * {{childCount}}</h6>
                            <h6>${{childRate * childCount}}</h6>
                        </li>
                        <li class="list-group-item">
                            <h6 class="font-weight-normal">Service Fee</h6>
                            <h6>${{serviceTax}}</h6>
                        </li>
                        <li class="list-group-item">
                            <h6 class="font-weight-bold">Total Price</h6>
                            <h6>${{totalPrice}}</h6>
                        </li>
                        <li class="list-group-item  d-flex justify-content-center purchaseButton">
                            <button type="button" class="btn btn-primary purchaseButtonStyle"
                                (click)="buyPasses()">Purchase Card</button>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- BUY PASSES PAGE END HERE -->