<div class="mainDiv">
  <div class="container">
    <div class="row">
      <div class="col-md-12 signupContent">
        <h1>Change Password</h1>
      </div>
    </div>
    <form [formGroup]="changePswdForm">
      <div class="row">
        <div class="col-md-8 pr-4 inputbox">
          <div class="input-div">
            <label class="label-text">Old Password</label>
            <input type="text" placeholder="Old Password" class="form-control formInputs"
              formControlName="OldPassword" />
            <p class="error-text"
              *ngIf="changePswdFormSubmitted && changePswdForm.controls.OldPassword.errors?.required">
              Old password
              is required!.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 pr-4 inputbox">
          <div class="input-div">
            <label class="label-text">New Password</label>
            <input type="text" placeholder="New Password" class="form-control formInputs"
              formControlName="NewPassword" />
            <p class="error-text"
              *ngIf="changePswdFormSubmitted && changePswdForm.controls.NewPassword.errors?.required">
              New password
              is required!.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 pr-4 inputbox">
          <div class="input-div">
            <label class="label-text">Confirm Password</label>
            <input type="text" placeholder="Confirm Password" class="form-control formInputs"
              formControlName="ConfirmPassword" />
            <p class="error-text"
              *ngIf="changePswdFormSubmitted && changePswdForm.controls.ConfirmPassword.errors?.required">
              Confirm password
              is required!.</p>
            <p class="error-text"
              *ngIf="changePswdFormSubmitted && changePswdForm.controls.ConfirmPassword.errors.confirmedValidator">
              Password and Confirm Password must be match.</p>
          </div>
        </div>
      </div>
    </form>

    <div class="row mt-5">
      <div class="col-md-12 submitButton">
        <button type="button" class="btn btn-primary submitButtonStyle" (click)="submitData()">Change Password</button>
      </div>
    </div>

  </div>
</div>
