//primary color and secondary color declartions..

    /** primary **/
        // $primary-color: #2a7fe2;
        $primary-color: #2ea5f9;
    /** secondary **/
        $secondary-color: #3c3d4b;
        $tertiary-color :#0068e1;
        $Dark-color:#1946af;
        $Success-Color:#2ca210
