@import "../../shared/theme/variable.scss";
.support-section {
    .bg-content {
        background: linear-gradient(90deg, #2ea5f9, #2998e6, #1477ea);  
        // border-bottom-left-radius: 48% 20%;
        // border-bottom-right-radius: 48% 20%;
        width: 100%;
        // height:100vh;
    }
    .title {
        h1 {
            font-family: "open-sans-bold" !important;
            width: 100%;
        }
        p {
            font-size: 30px;
            letter-spacing: 1px;
            font-weight: 500;
        }
    }
    .support-form {
        padding: 25px 5px;
        h2 {
            font-weight: 700;
            letter-spacing: 1px;
            text-align: center;
        }
        p {
            font-size: 1rem;
            margin: 5px auto;
            letter-spacing: 0.5px;
            font-weight: 100;
            text-align: center;
        }
        input::placeholder,
        textarea::placeholder {
            color: rgba(0, 0, 0, 0.5) !important;
            opacity: 1;
            font-size: 17px;
            letter-spacing: 1px;
            font-weight: 400 !important;
        }
    }
    .btn-primary {
        background-color: $tertiary-color;
        color: #fff;
        width: 150px;
        height: 55px;
        border-width: 2px;
        border-color: transparent;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1px;
        border-radius: 100px;
        font-family: "Caros-medium";
    }
    .form-group {
        margin: 0px auto;
    }
}

@media only screen and (min-width: 768px) {
    .form-group {
        width: 70%;
    }
}