.profileImg {
  text-align: center;
}

.formInputs {
  background-color: transparent !important;
  color: grey !important;
  border: 1px solid #000000 !important;
  border-radius: 25px;
  height: 44px;
}

.label-text {
  margin-left: 15px;
}

.editProfileButtonStyle {
  border-radius: 50px;
  background-color: #116bd9;
  width: 40%;
  height: 47px;
  font-size: 18px !important;
  outline: none;
  border: none !important;
}

.error-text {
  text-align: left;
  color: red;
  font-size: 12px !important;
  padding: 0px 0rem;
  margin: 5px !important;
}

.image-upload {
  border-radius: 100%;
  width: 100%;
  text-align: center;
  img {
    width: 150px;
    height: 150px;
    margin: 0px auto;
    box-shadow: 0px 9px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
  }
}

// <------------------------------------------------MEDIA_QUERY--------------------------------->

@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .image-upload {
    width: 100% !important;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .input-div {
    margin-top: 20px;
  }

  .editProfileButtonStyle {
    margin: 20px auto;
  }
}
@media only screen and (max-width: 575px) {
}

.image-upload>input {
  display: none;
}