<div class="mainDiv pt-5 mt-5">
  <div class="container">
    <div class="row pt-5 justify-content-center justify-content-lg-start">
      <h1 class="pb-4 pb-lg-0">My Profile</h1>
    </div>
    <form [formGroup]="profileForm">

      <div class="row pb-5">

        <div class="col-12">
          <div class="image-upload  d-inline-block">
            <label for="file-input">
              <img class="profile-img" [src]="imageURL" />
            </label>
            <!-- <input type="file" accept="image/*" class="custom-file-input" (change)="onFileChange($event)" name="profile_image"
                id="profile_image"> -->
            <!-- <input type="file" id="bannedList" (change)="onFileChange($event);" #fileInput> -->
            <input id="file-input" type="file" (change)="onFileChange($event);" />
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="input-div">
            <label class="label-text">Full Name</label>
            <input type="text" placeholder="Enter Full Name" class="form-control formInputs"
              formControlName="fullName" />
            <p class="error-text" *ngIf="profileFormSubmitted && profileForm.controls.fullName.errors?.required">
              Name
              is required!.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="input-div">
            <label class="label-text">Email</label>
            <input type="text" placeholder="Enter Email" class="form-control formInputs" formControlName="emailAddress"/>
            <p class="error-text" *ngIf="profileFormSubmitted && profileForm.controls.emailAddress.errors?.required">
              Email
              is required!.</p>
            <p class="error-text" *ngIf="profileFormSubmitted && profileForm.controls.emailAddress.errors?.email">
              Email
              is not valid!.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="input-div">
            <label class="label-text">Phone</label>
            <input type="text" placeholder="Enter Phone" class="form-control formInputs"
              formControlName="phoneNumber" />
            <p class="error-text" *ngIf="profileFormSubmitted && profileForm.controls.phoneNumber.errors?.required">
              Phone Number
              is required!.</p>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4">
          <div class="input-div">
            <label class="label-text">Gender</label>
            <!-- <input type="text" placeholder="Enter Full Name" class="form-control formInputs" formControlName="gender" /> -->
            <!-- <select class="form-control formInputs" formControlName="gender">
              <option selected disabled>Select Gender</option>
              <option>Male</option>
              <option>Female</option>
            </select> -->
            <div class=" select-gender-div  pr-lg-4">
              <mat-form-field appearance="fill">
                  <mat-select   formControlName="gender">
                      <mat-option disabled>Select Gender</mat-option>
                      <mat-option value="male">Male</mat-option>
                      <mat-option value="female">Female</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
            <p class="error-text" *ngIf="profileFormSubmitted && profileForm.controls.gender.errors?.required">
              Gender
              is required!.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="input-div">
            <label class="label-text">Date Of Birth</label>
            <input type="date" placeholder="Date of birth" class="form-control formInputs" formControlName="dob" />
            <p class="error-text" *ngIf="profileFormSubmitted && profileForm.controls.dob.errors?.required">
              Birtdate
              is required!.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="input-div">
            <label class="label-text">Student Id</label>
            <input type="text" placeholder="Student Id" class="form-control formInputs" formControlName="studentId"/>
          </div>
        </div>
      </div>
    </form>
    <div class="row mt-5 mb-5 pt-5">
      <!-- <div class="col-md-12 col-xs-12 d-flex justify-content-center signUpButton"> -->
        <div class="col-12 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center justify-content-lg-end">
          <button type="button" class="btn btn-primary editProfileButtonStyle" (click)="updateProfile()">
            Edit Profile
          </button>
        </div>
        <div class="col-12 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center justify-content-lg-start">
          <button type="button" class="btn btn-primary editProfileButtonStyle" (click)="logout()">
            Logout
          </button>
        </div>
       
      <!-- </div> -->
    </div>
  </div>
</div>