<div class="mainDiv">
  <div class="container">
    <div class="row">
      <div class="col-md-12 loginContent">
        <h1>Forgot Password</h1>
      </div>
    </div>
    <form [formGroup]="forgotPasswordForm">
      <div class="row mt-4">
        <div class="col-md-12 pr-4 inputbox">
          <div class="input-div">
            <label class="label-text">Email</label>
            <input type="text" placeholder="Enter Email" class="form-control formInputs" formControlName="emailAddress" />
            <p class="error-text"
              *ngIf="forgotPasswordFormSubmitted && forgotPasswordForm.controls.emailAddress.errors?.required">
              Email
              is required!.</p>
            <p class="error-text"
              *ngIf="forgotPasswordFormSubmitted && forgotPasswordForm.controls.emailAddress.errors?.email">
              Enter valid email address!.</p>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-md-6 col-xs-12 signInButton">
        <button type="button" class="btn btn-primary signInButtonStyle" (click)="resetPassword()">Reset Password</button>
      </div>
    </div>
  </div>
</div>
