@import "../../shared/theme/variable.scss";

h1 {
  font-size: 36px;
  color: #ffffff !important;
}

p {
  font-size: 18px;
  color: #ffffff;
}

label {
  color: #ffffff !important;
  font-size: 18px;
}

.mainDiv {
  background: $primary-color;
  height: 100vh;
}

.loginContent {
  margin-top: 100px !important;
}

.container {
  max-width: 730px;
}

.submitButton {
  display: flex;
  justify-content: center;
}

.submitButtonStyle {
  border-radius: 50px;
  background-color: #116bd9;
  width: 27%;
  height: 47px;
  font-size: 22px !important;
}

.formInputs {
  background-color: transparent !important;
  color: #ffffff !important;
  border: 1px solid #d6edff !important;
  border-radius: 25px;
  height: 44px;
}

::placeholder {
  color: #c8e2fd;
  opacity: 1; /* Firefox */
}

.label-text {
  margin-left: 15px;
}

.forgotPwd {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.signInButton {
  display: flex;
  justify-content: flex-end;
  outline: none;
}

.signUpButton {
  display: flex;
  justify-content: flex-start;
  outline: none;
}

.signInButtonStyle {
  border-radius: 50px;
  background-color: #116bd9;
  width: 54%;
  height: 47px;
  font-size: 22px !important;
  outline: none;
  border: none !important;
}

.signInButtonStyle:hover {
  background-color: #ffffff;
  color: #116bd9;
  outline: none;
}

.signUpButtonStyle {
  border-radius: 50px;
  background-color: #116bd9;
  width: 54%;
  height: 47px;
  font-size: 22px !important;
  outline: none;
  border: none !important;
}

.signUpButtonStyle:hover {
  background-color: #ffffff;
  color: #116bd9;
  outline: none;
}

// <------------------------------------------------MEDIA_QUERY--------------------------------->

@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
  .loginContent {
    margin-top: 0px !important;
  }

  .inputbox {
    padding: 0px !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
    margin-top: 10px !important;
  }

  .passInfo {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }

  .signInButton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .signUpButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 575px) {
}
