<div class="mainDiv pt-5 mt-5 pb-5">
    <div class="container">
        <div class="row mt-5 ">
            <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
                <h2 class="title">Nearest Events</h2>
            </div>

        </div>
        <div class="pt-4">

            <div class="container mt-4" *ngIf="eventList && eventList.length > 0">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-4 col-md-4 col-sm-4 my-3 d-flex align-items-center"
                        *ngFor="let item of eventList" (click)="navToBuyTicket(item)">
                        <div class="card fanCard m-2">
                            <div class="card-body passCardBody">
                                <p class="card-text title bold">{{item.Name}}</p>
                                <p class="card-text subtext">{{item.Team}}</p>
                                <div class="row bottomTime">
                                    <div class="col-9 col-lg-9 col-sm-9 col-md-9 bottomSchoolName">
                                        <img src="./assets/pin.png" />
                                        <p class="card-text matchLocation">@ {{item.Address}}</p>
                                        <p class="card-text matchTime">{{item.Date}}</p>
                                    </div>
                                    <div class="col-3 col-lg-3 col-sm-3 col-md-3  freeCard" *ngIf="item.Payment == 0">
                                        <p class="card-text"><b>Free</b> With Fancard</p>
                                    </div>
                                    <div class="col-3 col-lg-3 col-sm-3 col-md-3  paidCard" *ngIf="item.Payment == 1">
                                        <p class="card-text"><b>$ {{item.TicketPrice}}</b> Paid Event</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- VIEW MORE BTN -->
                <div *ngIf="showCategoryMore == true" class="row">
                          <div class="btn-div pt-5 pb-5 m-auto">
                            <button type="button" (click)="categoryViewMore()" class="btn btn-outline-primary view-more">View
                              More</button>
                          </div>
                        </div>
                <!-- VIEW MORE BTN -->
            </div>
            <!-- IF DATA IS NULL -->
            <div *ngIf="eventList && eventList.length == 0" class="no-found pt-5">
                <img class="" src="./assets/no-data.png" />
                <h2 class="mt-5">
                    No Events Found
                </h2>
            </div>

        </div>
    </div>
</div>