<div class="school-signup-form">
    <div class="container">
      <form [formGroup]="schoolSignupForm">
        <div class="pt-4">
          <div class="form-title pb-4">
            <h2>REQUEST INFORMATION</h2>
            <p>My school is interested in joining the FanCard program and would like to receive more information.</p>
          </div>
          <div class="form-group required pt-2 pb-2">
            <input type="text" placeholder="*School Name" formControlName="schoolName" class="form-control"
              [ngClass]="{ 'is-invalid': schoolSignupFormSubmitted && f.schoolName.errors }" />
            <div *ngIf="schoolSignupFormSubmitted && f.schoolName.errors" class="invalid-feedback">
              <div *ngIf="f.schoolName.errors.required">This field is required.</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group required pt-2 pb-2">
                <input type="text" placeholder="*First " formControlName="firstName" class="form-control"
                  [ngClass]="{ 'is-invalid': schoolSignupFormSubmitted && f.firstName.errors }" />
                <div *ngIf="schoolSignupFormSubmitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">This field is required.</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group required pt-2 pb-2">
                <input type="text" placeholder="*Last " formControlName="lastName" class="form-control"
                  [ngClass]="{ 'is-invalid': schoolSignupFormSubmitted && f.lastName.errors }" />
                <div *ngIf="schoolSignupFormSubmitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">This field is required.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group required pt-2 pb-2">
            <input type="text" placeholder="*Email " formControlName="emailAdd" class="form-control"
              [ngClass]="{ 'is-invalid': schoolSignupFormSubmitted && f.emailAdd.errors }" />
            <div *ngIf="schoolSignupFormSubmitted && f.emailAdd.errors" class="invalid-feedback">
              <div *ngIf="f.emailAdd.errors.required">This field is required.</div>
              <div *ngIf="f.emailAdd.errors.email">Please enter a valid email address.</div>
            </div>
          </div>

          <div class="form-group required pt-2 pb-2">
            <textarea placeholder="Message(Optional)" class="form-control" autocomplete="off" rows="3" type="text"
              formControlName="message"
              [ngClass]="{ 'is-invalid': schoolSignupFormSubmitted && f.message.errors }"></textarea>
            <div *ngIf="schoolSignupFormSubmitted && f.message.errors" class="invalid-feedback">
              <div *ngIf="f.message.errors.required">Message is required.</div>
            </div>
          </div>
          <div class="btn-div m-auto text-center pt-3 pb-3">
            <button type="button" class="btn btn-primary" (click)="submitData()">Submit</button>
          </div>
        </div>
      </form>
      <!-- sucess alert -->
      <div class="alert alert-success mt-4 mb-4 text-center" *ngIf="responseText">
        <strong>{{responseText}}</strong>
      </div>
    </div>
  </div>
