@import "../../shared/theme/variable.scss";

.mainDiv{
    height:  100vh;
  }
  

.title:after {
    content: "";
    display: block;
    height: 2px;
    background:$tertiary-color;
    width: 47%;
    margin-top: 15px;
}

.schoolLogo{
    width:65% !important
  }

.eventName{
    margin-top: 50px;
}

.addressStyle{
    color:#116bd9;
    margin-top:10px;
}

.timings{
    margin-top:15px;
}

.eventDesc{
    margin-top:30px;
}

.paymentSection{
    margin-top:30px;
}

.disabledInput{
    background:#f8f8f8;
    width: 46%;
}

.payImg{
    width: 30px;
    color: #a7a7a7;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

input[type="text"]:disabled {
    background:#f8f8f8;
  }

.paymrntI{
    width: 75%;
    display: inline-block !important;
    vertical-align: middle;
    border: none !important;
    padding: 0px 0px 0px 10px;
    height: 40px !important;
}
 




// <--------------------------------MEDIA_QUERY-------------------------------------->
@media only screen and (max-width: 1440px) {

}
@media only screen and (max-width: 1199px) {

}
@media only screen and (max-width: 1024px) {


}

@media only screen and (max-width: 991px) {


} 

@media only screen and (max-width: 767px) {

    .mainDiv{
        padding-left: 0px !important;
        padding-right: 0px !important;
        height:  auto !important;
        // padding:0px !important;
    }

    .schoolImg{
        text-align: center;
    }

    .qrImg{
        text-align: center;
    }

    .disabledInput{
        width: 75%;
        margin:0px auto !important;
    }

}
@media only screen and (max-width: 575px) {

}