<div class="mainDiv pt-5 mt-5 mb-4">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
                <h2 class="title">Event Details</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="eventName">  {{eventData.Name}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div *ngIf="eventData.SchoolAddress">
                    <h6 class="addressStyle"><img src='./assets/pin.png' /> @{{eventData.SchoolAddress}}</h6>
                </div>

                <div>
                    <h6 class="timings">Event Date:{{eventData.Date}} | Booking Date:{{eventData.EventBookDate}}</h6>
                </div>
                <div class="eventDesc">
                    <p>{{eventData.Description}}</p>
                </div>
            </div>
            <div class="col-md-4 schoolImg">
                <div>
                    <img class="schoolLogo" [src]="eventData.SchoolImage" />
                </div>
            </div>
        </div>
        <div class="row paymentSection">
            <div class="col-12 col-md-8 text-center text-lg-left text-md-left">
                <div>
                    <h4>Payment Method</h4>
                </div>
                <div class="disabledInput">
                    <img class="payImg" src="./assets/pay (1).png"/>
                    <input type="text" class="form-control paymrntI" placeholder="XXXX XXXX XXXX {{eventData.CardNumber}}" disabled>
                </div>
             
            </div>
            <div class="col-md-4 qrImg">
                <div>
                    <img [src]="eventData.QRCode" />
                </div>
            </div>
        </div>
    </div>
</div>