<div class="mainDiv pt-5 mt-5 pb-5">
    <div class="container">
        <div class="row mt-5 ">
            <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
                <h2 class="title">Event History</h2>
            </div>

        </div>
        <div>
            <tabset [justified]="true">
                <tab heading="Upcoming Events" class="m-auto"  id="tab1">
                    <app-upcoming-events></app-upcoming-events>
                </tab>
                <tab heading="Past Events" class="m-auto" id="tab2">
                    <app-past-events></app-past-events>
                </tab>
            </tabset>
        </div>
    </div>
</div>