@import "../../shared/theme/variable.scss";

.test{
  height: 100vh;
}

.passCardBody {
  padding: 15px 0px 0px 15px;
  text-align: left;
  position: relative;
}

.title:after {
  content: "";
  display: block;
  height: 2px;
  background: $tertiary-color;
  width: 47%;
  margin-top: 15px;
}

.fanCard {
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px #88888854;
  border: none;
  min-height: 160px;
  width: 84%;
}

.cardRow {
  margin-right: 30px !important;
  margin-left: 30px !important;
}
.list {
  max-height: 200px;
  height: 100%;
}

.bottomTime {
  margin: 0px;
}

.card-text.cardTitle {
  font-size: 20px;
  margin: 0px;
  font-weight: bold;
  text-transform: capitalize;
}

.card-text.subtext {
  font-weight: 500;
  font-size: 18px;
  margin: 0px;
}
.card-text.subtext {
  font-size: 18px !important;
  text-transform: capitalize;
}
.bottomSchoolName img {
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.matchLocation {
  font-size: 15px;
  color: #1946af;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
  text-overflow: ellipsis;
  width: 89%;
}

.matchTime {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 15px;
}

.matchImage {
  margin: 0px !important;
}

.bottomSchoolName {
  padding: 5px 0px;
  align-self: center;
}

.freeCard {
  color: #ffffff;
  text-align: center;
  background-color: $Dark-color;
  border-radius: 0px 0px 10px 0px;
  font-size: 15px;
  padding: 5px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.paidCard {
  color: #ffffff;
  text-align: center;
  background-color: $Success-Color;
  border-radius: 0px 0px 10px 0px;
  font-size: 15px;
  padding: 5px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}


.searchbar.event-history{
  width: 60%;
  // margin: 0px auto 0px 0px !important;
  input{
      border: none !important;
      width: 65%;
      vertical-align: middle;
      padding-left: 10px;
  }
}
.filter img{
  width: 30px;
  object-fit: contain;
}

.small{
  width: 60% !important;
  margin: 0px auto 0px 0px !important;
  height: 40px !important;
  position: relative;
}

.paid,.free{
    width: 25%;
    border-radius: 100px;
    height: 35px;
    padding: 0px;
    font-size: 14px;  
    // font-weight: bold;
    margin: 0px 10px;
    font-family: "Caros-bold";
}
.free{
  background-color: $tertiary-color;
}

.form-control{
  border-radius: 100px !important;
}
.error-text{
  position: absolute;
  bottom: -24px;
  left: -3px;
}

.datepicker{
    width: 100% ;
  }
  .clear-link,.clear-link:hover{
    color: $tertiary-color;
    text-decoration: underline;
    font-size: 15px;
  }




// <--------------------------------MEDIA_QUERY-------------------------------------->
@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
  .mainDiv {
    padding-left: 0px !important;
    padding-right: 0px !important;
    // padding:0px !important;
  }

  .fanCard {
    min-height: 200px;
  }

  .cardRow {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .list {
    margin-top: 20px !important;
    margin-bottom: 50px !important;
  }

  .paidCard {
    border-radius: 0px 0px 10px 10px;
  }

  .freeCard {
    border-radius: 0px 0px 10px 10px;
    // min-height: 230px;
  }
  .searchbar input{
    border: none !important;
              width: 60%;
              vertical-align: middle;
              padding-left: 10px;
  }
  .searchbar.event-history{
    width: 80%;
    // margin: 0px auto 0px 0px !important;
    input{
      width: 59%;
    }
  }
  // .date-div{
  //   padding: 0px !important;
  // }
  .datepicker{
    width: 100% ;
  }
 
}
@media only screen and (max-width: 575px) {
  .searchbar input{
    border: none !important;
              width: 60%;
              vertical-align: middle;
              padding-left: 10px;
  }
  .searchbar.event-history{
    width: 80%;
    // margin: 0px auto 0px 0px !important;
    input{
      width: 59%;
    }
  }
  .date-div{
    padding: 0px !important;
  }
  .datepicker{
    width: 100% ;
  }
}

.title-text {
    font-size: 1.5rem;
}

//ipad specific css
/* Portrait and Landscape */
@media only screen and (width: 768px) and (height: 1024px) {
 .searchbar.event-history{
   width: 100% !important;
   input{
     width: 60% !important;
   }
 }
 .fanCard {
   width: 100%;
 }
}

//ipad specific css
/* Portrait and Landscape */
@media only screen and (width: 1024px) and (height: 1366px) {
  .searchbar.event-history{
    width: 100% !important;
    input{
      width: 72% !important;
    }
  }
  .mainDiv{
    height: 100vh !important;
  }
 }