<div [ngClass]="eventData.length <= 2 ? 'test pt-5 mt-5 pb-5' : 'mainDiv pt-5 mt-5 pb-5'">
    <div class="container">
        <div class="row mt-5 cardRow ">
            <div
                class="col-12 col-lg-3 col-md-3 col-sm-3">
                <h2 class="title">Explore Events</h2>
            </div>
            <div
                class="col-10 col-lg-7 col-md-7 col-sm-7 d-flex justify-content-center align-items-center pt-4 pt-lg-0 pt-md-0 ">
                <div class="searchbar event-history">
                    <i class="fa fa-search ml-2" aria-hidden="true"></i>
                    <input class="" type="text" placeholder="Search here" [(ngModel)]="searchStr">
                    <button class="btn btn-lg btn-success" type="submit" (click)="exploreEvents()">Search</button>
                </div>
            </div>
            <div class="col-2 col-lg-2 col-md-2 col-sm-2 filter d-flex justify-content-lg-start justify-content-center align-items-center pt-4 pt-lg-0 pt-md-0 "
                data-toggle="modal" data-target="#filter">
                <img src="./assets/sort.png" />
            </div>
        </div>


        <!-- filter modal div -->
        <!-- <div class="collapse row filter-toggle-div mt-3" id="demo">
            <div class="col-12 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-end">
                <div class="searchbar small">
                    <i class="fa fa-search ml-2" aria-hidden="true"></i>
                    <ng2-completer class="form-control form-control-lg form-control-borderless " [datasource]="schoolData" [minSearchLength]="0" placeholder="Search here" (selected)="onSelectSchool($event)"></ng2-completer>
                  </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-start">
                <button  class="btn btn-lg btn-success paid" (click)="_changeCat('paid')">Paid</button>
                <button  class="btn btn-lg btn-primary free" (click)="_changeCat('free')">Free</button>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" [value]="date.value">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
        </div> -->
        
        <div class="modal fade filtermodal" id="filter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title m-auto title-text">Filter By</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <!-- <span aria-hidden="true">&times;</span> -->
                            <img src="/assets/close.png"/>
                        </button>
                    </div>
                    <div class="modal-body pt-0 px-5">
                        <div class="text-right mb-2">
                            <a class="clear-link" (click)="clearFilter()">Clear Filter</a>
                        </div>

                        <div class="filter-div row">
                            <div class="searchbar small col-12  d-flex align-items-center ">
                                <i class="fa fa-search ml-2" aria-hidden="true"></i>
                                <ng2-completer class="form-control form-control-lg form-control-borderless "
                                    [datasource]="schoolData" [minSearchLength]="0" placeholder="Search School"
                                    [(ngModel)]="schoolStr" (selected)="onSelectSchool($event)"></ng2-completer>
                                <p class="error-text ml-3 mb-0 ng-star-inserted" *ngIf="errortext">{{errortext}}</p>
                            </div>

                            <div class="col-12 col-lg-6 col-md-6 col-sm-6 date-div mt-4 pl-0 pr-1">
                                <p class="m-1 bold pl-3">From Date</p>
                                <mat-form-field class="datepicker">
                                    <input matInput [matDatepicker]="from_picker" disabled [formControl]="from_date"
                                        (dateChange)="onFromDateChange($event)">
                                    <mat-datepicker-toggle matSuffix [for]="from_picker"></mat-datepicker-toggle>
                                    <mat-datepicker #from_picker disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-lg-6 col-md-6 col-sm-6  date-div mt-4 pl-2 pr-0">
                                <p class="m-1 bold pl-3">To Date</p>
                                <mat-form-field class="datepicker">
                                    <input matInput [matDatepicker]="to_picker" disabled (dateChange)="onToDateChange($event)" [formControl]="to_date">
                                    <mat-datepicker-toggle matSuffix [for]="to_picker"></mat-datepicker-toggle>
                                    <mat-datepicker #to_picker disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </div>
                                <p class="error-text ml-3 mb-0 ng-star-inserted" *ngIf="dateErrortext">{{dateErrortext}}</p>
                        </div>
                    </div>
                    <div class="modal-footer border-top-0 d-flex justify-content-center pb-4">
                        <button class="btn btn-lg btn-success paid" (click)="_changeCat('paid')"
                            data-dismiss="myModal">Paid Event</button>
                        <button class="btn btn-lg btn-primary free" (click)="_changeCat('free')"
                            data-dismiss="myModal">Free Event</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Toggle div -->

        <div *ngIf="eventData && eventData.length > 0">
            <div class="row justify-content-center cardRow">
                <div class="col-12 col-lg-6 col-md-6 col-sm-6 my-3 list d-flex justify-content-center justify-content-lg-start"
                    *ngFor="let item of eventData" (click)="navToBuyTicket(item)">
                    <div class="card fanCard m-2">
                        <div class="card-body passCardBody">
                            <p class="card-text cardTitle bold">{{item.Name}}</p>
                            <p class="card-text subtext">{{item.Team}}</p>
                            <div class="row bottomTime">
                                <div class="col-md-10 bottomSchoolName">
                                    <!--  -->
                                    <p class="card-text matchLocation"><img class="matchImage" src="./assets/pin.png" />
                                        @ {{item.Address}}</p>
                                    <p class="card-text matchTime pt-1">{{item.Date}}</p>
                                </div>
                                <div class="col-lg-2 col-md-3 freeCard" *ngIf="item.Payment == 0">
                                    <p class="card-text"><b>Free</b> With Fancard</p>
                                </div>
                                <div class="col-lg-2 col-md-3 paidCard" *ngIf="item.Payment == 1">
                                    <p class="card-text"><b>$ {{item.TicketPrice}}</b> Paid Event</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="eventData && eventData.length == 0" class="no-found pt-5">
            <img class="" src="./assets/no-data.png" />
            <h2 class="mt-5">
                No Events Found
            </h2>
        </div>
    </div>
</div>