@import "../../shared/theme/variable.scss";

.school-detail-section {
  .bg-content {
    background: linear-gradient(90deg, #2ea5f9, #2998e6, #1477ea);
    border-bottom-left-radius: 48% 20%;
    border-bottom-right-radius: 48% 20%;
    width: 100%;
  }
  .title {
    h1 {
      font-family: "open-sans-bold" !important;
      width: 100%;
    }
    p {
      font-size: 30px;
      letter-spacing: 1px;
      font-weight: 500;
    }
  }
  .school-card {
    img {
      width: 350px;
      margin-bottom: -45px;
    }
  }
  .deal-content {
    h1 {
      color: $primary-color;
      letter-spacing: 0.5px;
      font-family: "open-sans-bold" !important;
    }
  }

  .nav-link.active {
    color: #fff;
    background-color: $primary-color;
    border-radius: 50px;
  }
  ul {
    a {
      color: $primary-color;
      border: 1px solid;
      border-color: $primary-color;
      border-radius: 50px;
    }
  }
  //card css
  .card-img {
    height: 160px !important;
    position: relative;
    border-radius: 10px;
    object-fit: cover;
    // width: 100%;
  }

  .card-title {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0px 10px;
  }
  .card {
    border-radius: 5%;
    box-shadow: 0 0px 13px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    max-height: 400px;
    height: 100%;
    position: relative;
  }
  .card-body {
    .cat-image {
      width: 35px;
    }
    img {
      // width: fit-content;
      display: inline-block;
    }
    p {
      display: inline-block;
      margin: 0px 0px 0px 10px;
      font-weight: bold;
      font-size: 15px;
      white-space: pre-line;
      width: 80%;
      vertical-align: middle;
    }
  }
  .card-overlay {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    width: 100%;
    height: 160px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .last-part {
    span {
      color: $secondary-color;
      font-size: 15px;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px;
    }
    img {
      width: 17px;
      padding: 0px 2px;
    }
    .open-at-div {
      span {
        color: $secondary-color;
        font-size: 12px;
        font-weight: bold;
        display: inline-block;
      }
    }
  }

  .acess-deals-section {
    text-align: center;
    h2 {
      color: $primary-color;
      font-family: "open-sans-bold" !important;
      margin: 0px 2px;
    }

    .btn-outline-primary {
      color: $primary-color;
      border-color: $primary-color;
      border-radius: 50px;
      border-width: 2px;
      max-width: 100%;
      // width: 80%;
      min-height: 80px;
      font-size: 22px;
      text-transform: capitalize;
    }
    .btn-outline-primary:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }

  .map {
    height: 800px;
    width: 100%;
    box-shadow: 6px 1px 17px 0 rgba(0, 0, 0, 0.5);
  }
  .main-div{
    margin: 15px 0px;
    // padding: 0px !important;
  }
}

.school-list{
  text-align: center;
  h2 {
    color: $primary-color;
    margin: 15px;
  }
  p{
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 19px;
    text-transform: capitalize;
    margin: 15px auto;
    span {
      display: block;
      font-weight: normal;
      font-size: 19px;
      text-transform: capitalize;
      letter-spacing: 0.5px;
    }
  }
  .label {
    display: inline-block;
    vertical-align: middle;
    color: #3c3d4b;
    text-align: left;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    white-space: pre-line;
    width: 200px;
    span {
      color: $primary-color;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
    }
  }
  .img-div {
    background: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 14px 10px;
    position: relative;
    box-shadow: -1px 1px 5px 4px #f5f4f4;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    pointer-events: all;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      width: 80px;

    }
  }
}
.main-card{
  // position: relative;
  overflow: hidden;
}
.no-image-found{
    img{
      width: 25%;
    }
    h2{
      color: $primary-color;
      font-size: 1.5rem;
    }
}
.wrapper{
  vertical-align: top;
  img{
    width:100px !important;
  }
}

.btn-outline-primary {
  color: $primary-color;
  border-color: $primary-color;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  border-width: 2px;
  font-size: 20px;
}
.btn-outline-primary:hover {
  background-color: $primary-color;
  color: #fff;
}

.btn-primary {
  background-color: $primary-color;
  color: #fff;
  width: 150px;
  height: 55px;
  border-width: 2px;
  border-color: transparent;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  border-radius: 100px;
}

.search-btn{
  height: 40px;
  // width:15px;
  background: $primary-color;
  i{
    color: #fff;
    font-size: 23px;
    font-weight: bold;
  }
}

.input-group{
  position: relative;
  // display: inline-flex;
  flex-wrap: nowrap !important;
  align-items: stretch;
  width: 100%;
}

/* common */
.ribbon {
  width: 126px;
  height: 97px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid orange;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 220px;
    padding: 5px 0px 5px 10px;
    background-color: orange;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
    text-align: center;
    font-size: 12px;

}

/* top left*/
.ribbon-top-left {
    top: -10px;
    left: -10px;
    z-index: 1;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
    top: 0px;
    right: 29px;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0px;
}
.ribbon-top-left span {
  right: -23px;
  top: 32px;
  transform: rotate(-45deg);
}

.carousel-inner .carousel-item img{
  object-fit: contain;
}



@media only screen and (min-width: 320px) and (max-width: 500px) {
  .busniess-caresoul{
    width:19% !important;
  }
}

@media only screen and (min-width : 1024px)
{
  // .main-div{
  //   margin: 20px 0px !important;
  // }

  .material-icons {
    font-size: 15px;
  }
}
