<div class="school-detail-section ">
  <!-- section-1 after header -->
  <div *ngIf="schoolData" class="bg-content pt-5 pb-5">
    <div class="container text-center pt-5 title">
      <h1 class="mt-5 text-uppercase text-light "> {{schoolData.CategoryName}}</h1>
      <!-- <p class="text-uppercase text-light">{{schoolData.Slogan}}</p> -->

      <!-- school card image -->
      <div class="school-card pt-2">
        <!-- <img src="{{schoolData.MarkerImage}}" /> -->
      </div>
    </div>
  </div>

  <div *ngIf="!schoolData" class="bg-content pt-5 pb-5">
    <div class="container text-center pt-5 title">
      <h1 class="mt-5 text-uppercase text-light ">Businesses</h1>
      <div class="school-card pt-2">
      </div>
    </div>
  </div>

  <!-- section-1 completed -->

  <!-- section-2 deals card -->
  <div class="deals-card  pt-4 pb-4">
    <div class="container">
      <!-- <div *ngIf="schoolData" class="deal-content text-center">
        <h1 [innerHtml]="'Deals in  ' +schoolData.Address" class="text-capitalize "></h1>
      </div> -->
      <ul class="nav nav-pills justify-content-center mt-4 mb-4" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link m-2 active" id="pills-list-tab" data-toggle="pill" href="#pills-list" role="tab"
            aria-controls="pills-list" aria-selected="true">
            <i class="material-icons align-middle  mr-2">list</i>
            <span class="align-middle">List-view</span>
          </a>
        </li>
        <li class="nav-item  m-2 ml-2">
          <a class="nav-link" id="pills-map-tab" data-toggle="pill" href="#pills-map" role="tab"
            aria-controls="pills-map" aria-selected="false">
            <i class="material-icons align-middle mr-2">place</i>
            <span class="align-middle">Map-view</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-list" role="tabpanel" aria-labelledby="pills-list-tab">
        <div class="container">
          <div>

            <!-- <div class="input-group col-6 m-auto" *ngIf=" schoolList.length == 0" [hidden]="foodCardArray.length == 0">
              <ng2-completer class="ng-completer w-100" [(ngModel)]="searchStr" [datasource]="dataService"
                [minSearchLength]="0" placeholder="Enter name" (selected)="onSelect($event)"></ng2-completer>
              <span class="input-group-append">
                <button class="search-btn btn btn-outline-secondary" type="button" (click)="onSelect(searchStr)">
                  <i class="material-icons align-middle mr-2">search</i>
                </button>
              </span>
            </div> -->
            <div class="searchbar mb-4 mt-2">
              <i class="fa fa-search ml-3" aria-hidden="true"></i>
              <ng2-completer class="form-control form-control-lg form-control-borderless " [(ngModel)]="searchStr"
              [datasource]="dataService" [minSearchLength]="0" placeholder="Search here" (selected)="onSelect($event)">
            </ng2-completer>
            <button class="btn btn-lg btn-success" type="submit">Search</button>
            </div>

            <!-- new Section Slider start here -->
            <div class="slider pt-5 pb-4 " *ngIf="bannerImage && bannerImage.length > 0">

              <div id="demo" class="carousel slide" data-ride="carousel">


                <!-- The slideshow -->
                <div class="carousel-inner">
                  <ng-container *ngFor="let item of bannerImage; let i=index">
                    <div class="carousel-item active" *ngIf="i===0">
                      <img src="{{bannerImage[i].Image}}" alt="Banner Image" width="1108px" height="273px" (click)="openBannerUrl(bannerImage[i].Url)">
                    </div>
                    <div class="carousel-item" *ngIf="i!==0">
                      <img src="{{bannerImage[i].Image}}" alt="Banner Image" width="1108px" height="273px" (click)="openBannerUrl(bannerImage[i].Url)">
                    </div>
                    <!-- <div class="carousel-item active">
                      <img src="../../../assets/SHOPPING-banner.png" alt="Chicago">
                    </div>
                    <div class="carousel-item">
                      <img src="../../../assets/SHOPPING-banner.png" alt="New York">
                    </div> -->
                  </ng-container>

                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev busniess-caresoul" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon prev-img"></span>
                </a>
                <a class="carousel-control-next busniess-caresoul" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon next-img"></span>
                </a>

              </div>

            </div>
            <!-- new Section Slider over here -->

            <div class="row main-card" *ngIf=" schoolList.length == 0">
              <div class="col-md-4 pt-2 pb-2 main-div" *ngFor="let item of foodCardArray"
                (click)="gotoResturentDetailPage(item.Businessid)">
                <div class="card ">
                  <div class="ribbon ribbon-top-left" *ngIf="item.IsSponsor === '1'"><span>Sponsored</span></div>
                  <img class="card-img" src="{{item.BusinassImage[0]}}" onError="src='./assets/header/loader.png';"
                    alt="{{item.Businassname}}" />
                  <div class="card-overlay">
                    <h5 *ngIf="item.OfferName" class="card-title text-center">{{item.OfferName}}</h5>
                    <h5 *ngIf="!item.OfferName" class="card-title text-center">No Offer</h5>
                  </div>
                  <div class="card-body p-2">
                    <img class="cat-image" src="{{item.MarkerImage}}" />
                    <p>{{item.Businassname}}</p>
                    <div class="last-part pt-1">

                      <div class="d-inline-block" *ngIf="item.Rating && item.Rating != 0">
                        <span>{{item.Rating}}</span>
                        <div class="wrapper d-inline-block pl-2 pb-1">
                          <img class="star-image" src="./assets/star/{{item.Rating}}.png" />
                        </div>
                      </div>

                      <div *ngIf="item.Hours && item.Hours.length>0" class="open-at-div float-right">
                        <span>Open: {{item.Hours[0].DayName}} - {{item.Hours[0].StartTime}} to {{item.Hours[0].EndTime}}
                        </span>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 text-center pb-3">
                <div *ngIf="showCategoryMore">
                  <div class="btn-div pt-5">
                    <button type="button" (click)="categoryViewMore()" class="btn btn-outline-primary">View
                      More</button>
                  </div>
                </div>
              </div>

            </div>

            <div *ngIf="schoolList.length > 0" class="school-list mb-5 ">
              <div class="row pt-3">
                <div *ngIf="processingForSchool" class="col-12">
                  <ngx-skeleton-loader count="4" [theme]="{ width: '100px', height: '100px',margin:'0px 6%' }"
                    appearance="circle">
                  </ngx-skeleton-loader>
                </div>
                <div [ngClass]="{'col-sm-3': schoolList.length >=4 }" class=" col " *ngFor="let item of schoolList"
                  (click)="gotoSchoolDetailView(item)">
                  <div class=" img-div">
                    <img src="{{item.BusinassImage[0]}}" onError="src='./assets/header/loader.png';"
                      alt="{{item.Businassname}}" />
                  </div>
                  <p class="label text-center">
                    {{item.Businassname}}
                    <span *ngIf="item.CommingSoon == '1'  ">Coming soon</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="no-image-found m-auto text-center" *ngIf="foodCardArray.length == 0">
              <img class="" src="./assets/header/loader.png" />
              <h2>
                No data available
              </h2>
            </div>
            <!-- card -->
            <!-- acess to deals section -->
            <!-- <div class="acess-deals-section pt-5 pb-5 m-auto">
              <h2>Acess to Deals In Every Participating Community!</h2>
              <div class="row">
                <div class="col-md-4 pt-5 pb-5" *ngFor="let i of [0,1,2]">
                  <div class="btn-div">
                    <button type="button" class="btn btn-outline-primary">see deals in
                      brainerd</button>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
        <div class="map" [hidden]="foodCardArray.length == 0" #map>
        </div>
      </div>
    </div>
  </div>

</div>
<app-signup-school></app-signup-school>

