@import "../../shared/theme/variable.scss";

    .title {
        font-size: 2rem !important;
        font-family: 'Caros-bold' !important;
    }
    .title:after {
        content: "";
        display: block;
        height: 2px;
        background: $tertiary-color;
        width: 20%;
        margin-top: 15px;
      }

    .material-icons {
        font-size: 15px;
    }

    .card {
        box-shadow: 0 0px 13px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
        max-height: 400px;
        height: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-radius: 7%;
    }
    .card-body {
        .cat-image {
            width: 35px;
        }
        img {
            // width: fit-content;
            display: inline-block;
        }
        p {
            // display: inline-block;
            // margin: 0px 0px 0px 10px;
            font-size: 16px;
        }
        .title{
            font-size: 1.4rem !important;
            text-transform: capitalize;
        }
        .title::after{
            display: none !important;
        }
    }
    .card-overlay {
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        position: absolute;
        width: 100%;
        height: 130px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .last-part {
        span {
            color: $secondary-color;
            font-size: 15px;
            font-weight: bold;
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
            padding-left: 10px;
        }
        img {
            width: 17px;
            padding: 0px 2px;
        }
        .open-at-div {
            span {
                color: $secondary-color;
                font-size: 12px;
                font-weight: bold;
                display: inline-block;
            }
        }
    }
    .acess-deals-section {
        text-align: center;
        h2 {
            color: $primary-color;
            font-family: 'open-sans-bold' !important;
            width: 95%;
        }
        .btn-outline-primary {
            color: $primary-color;
            border-color: $primary-color;
            border-radius: 50px;
            border-width: 2px;
            max-width: 100%;
            // width: 80%;
            min-height: 80px;
            font-size: 17px;
            text-transform: capitalize;
        }
        .btn-outline-primary:hover {
            background-color: $primary-color;
            color: #fff;
        }
    }
    .btn-outline-primary {
        color: $primary-color;
        border-color: $primary-color;
        border-radius: 50px;
        border-width: 2px;
        max-width: 100%;
        // width: 80%;
        font-size: 17px;
        text-transform: capitalize;
    }
    .btn-outline-primary:hover {
        background-color: $primary-color;
        color: #fff;
    }


.main-card {
    position: relative;
    overflow: hidden;
      // card css
      .card-img {
        height: 130px !important;
        position: relative;
        border-radius: 10px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 150px;
        object-fit: cover;
    }
    .card-title {
        position: absolute;
        top: 50%;
        left: 0;
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        padding: 0px 10px;
        right: 0;
    }
    .card {
        box-shadow: 0 0px 13px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
        max-height: 400px;
        height: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-radius: 7%;
    }
    .card-body {
        .cat-image {
            width: 35px;
        }
        img {
            // width: fit-content;
            display: inline-block;
        }
        p {
            display: inline-block;
            margin: 0px 0px 0px 10px;
            font-weight: bold;
            font-size: 16px;
            white-space: nowrap;
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}


.no-image-found {
    img {
        width: 25%;
    }
    h2 {
        color: $primary-color;
        font-size: 1.5rem;
    }
}


 
  .passCardBody{
      padding: 25px;
      text-align: left;
      position: relative;
  }

  .fanCard{
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 hsla(0,0%,53.3%,.33);
    border: none;
    min-height: 160px;
    max-height: 160px;

  }
  .list{
    max-height: 200px;
    height: 100%;
  }

  .bottomTime{
      margin: 0px;
  }

  .card-text.title,.card-text.subtext{
      font-weight: 500 ;
      font-size: 20px ;
      margin: 0px ;
  }
  .card-text.subtext{
    font-size: 15px !important;
    text-transform: capitalize;
    
  }
  .bottomSchoolName img{
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .matchLocation{
    font-size: 14px;
    color: #1946af;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    white-space: nowrap;
    width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .matchTime{
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 90%;
  }

  .bottomSchoolName{
    padding: 5px 0px;
    align-self: center;
  }

  .freeCard{
    color: #ffffff;
    text-align: center;
    background-color: $Dark-color;
    border-radius: 0px 0px 10px 0px;
    font-size: 13px;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .paidCard{
    color: #ffffff;
    text-align: center;
    background-color: $Success-Color;
    border-radius: 0px 0px 10px 0px;
    font-size: 13px;
    padding: 7px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .wrapper {
    vertical-align: top;
    img {
        width: 100px !important;
    }
}
//view more
.btn-outline-primary {
  color: $Dark-color;
  border-color: $Dark-color;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  border-width: 2px;
  font-size: 20px;
}

.btn-outline-primary:hover {
  background-color: $Dark-color;
  color: #fff;
}


    /*------RESPONSIVE CSS START HERE------*/
/*---SMALL DEVIES------*/
@media only screen and (min-width: 320px) and (max-width: 500px) {
    .card{
        width: 100% !important;
    }
    .title{
        width: 100%;
    }
    // .title:after {
    //     margin: 15px auto !important;
    // }
    .get-fancard-div{
        margin-top: 10%;
    }
}