<div class="mainDiv pt-5 mt-5 pb-5">
    <div class="container">
        <div class="row mt-5 ">
            <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
                <h2 class="title">Nearest Deals</h2>
            </div>

        </div>
        <div class="pt-4">
            <div class="container mt-4" *ngIf="dealsList && dealsList.length > 0" >
                <div class="row justify-content-center main-card">
                    <div class="col-12 col-lg-4 col-md-4 col-sm-4 my-3 d-flex align-items-center" *ngFor="let item of dealsList" (click)="gotoDetailPage(item.Businessid)">
                            <div class="card  m-2">
                                <img class="card-img" src="{{item.BusinassImage}}" onError="src='./assets/header/loader.png';" alt="{{item.Businassname}}">
                                <div class="card-overlay">
                                    <h5 class="card-title text-center">{{item.OfferName}}</h5>
                                </div>
                                <div class="card-body p-2">
                                    <img class="cat-image" src="{{item.MarkerImage}}" />
                                    <p>{{item.Businassname}}</p>
                                    <div class="last-part pt-1" *ngIf="item.Rating && item.Rating != 0">
                                        <div class="d-inline-block">
                                            <span>{{item.Rating | rate}}</span>
                                            <div class="wrapper d-inline-block pl-2 pb-1">
                                                <img class="star-image" src="./assets/star/{{item.Rating | rate}}.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <!-- VIEW MORE BTN -->
                    <div *ngIf="showCategoryMore == true" class="row">
                        <div class="btn-div pt-5 pb-5 m-auto">
                        <button type="button" (click)="categoryViewMore()" class="btn btn-outline-primary view-more">View
                            More</button>
                        </div>
                    </div>
                  <!-- VIEW MORE BTN -->
                </div>
            <!-- IF DATA IS NULL -->
            <div *ngIf="dealsList && dealsList.length == 0" class="no-found pt-5">
                <img class="" src="./assets/no-data.png" />
                <h2 class="mt-5">
                    No Deals Found
                </h2>
            </div>

        </div>
    </div>
</div>