@import "../../shared/theme/variable.scss";
.school-detail-section {
    max-width: 100%;
    width: 100%;
    .bg-content {
        background: linear-gradient(90deg, #2ea5f9, #2998e6, #1477ea);
        // border-bottom-left-radius: 48% 20%;
        // border-bottom-right-radius: 48% 20%;
        width: 100%;
        // height: 300px;
    }
    .title {
        h1 {
            font-size: 40px;
            font-family: "open-sans-bold" !important;
            width: 100%;
        }
        p {
            font-size: 20px;
            letter-spacing: 1px;
            font-weight: 500;
        }
    }
    .school-card {
        max-width: 100%;
        width: 100%;
        img {
            // max-width: 100%;
            margin-bottom: -45px;
            border-radius: 15px;
            height: 150px;
            object-fit: scale-down;
        }
    }
    .deal-content {
        h1 {
            color: $primary-color;
            letter-spacing: 0.5px;
            font-family: "open-sans-bold" !important;
            width: 100%;
        }
    }
    .material-icons {
        font-size: 15px;
    }
    .nav-link.active {
        color: #fff;
        background-color: $primary-color;
        border-radius: 50px;
    }
    ul {
        a {
            color: $primary-color;
            border: 1px solid;
            border-color: $primary-color;
            border-radius: 50px;
        }
    }
   
    .last-part {
        span {
            color: $secondary-color;
            font-size: 15px;
            font-weight: bold;
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
            padding-left: 10px;
        }
        img {
            width: 17px;
            padding: 0px 2px;
        }
        .open-at-div {
            span {
                color: $secondary-color;
                font-size: 12px;
                font-weight: bold;
                display: inline-block;
            }
        }
    }
    .acess-deals-section {
        text-align: center;
        h2 {
            color: $primary-color;
            font-family: 'open-sans-bold' !important;
            width: 95%;
        }
        .btn-outline-primary {
            color: $primary-color;
            border-color: $primary-color;
            border-radius: 50px;
            border-width: 2px;
            max-width: 100%;
            // width: 80%;
            min-height: 80px;
            font-size: 17px;
            text-transform: capitalize;
        }
        .btn-outline-primary:hover {
            background-color: $primary-color;
            color: #fff;
        }
    }
    .btn-outline-primary {
        color: $primary-color;
        border-color: $primary-color;
        border-radius: 50px;
        border-width: 2px;
        max-width: 100%;
        // width: 80%;
        font-size: 17px;
        text-transform: capitalize;
    }
    .btn-outline-primary:hover {
        background-color: $primary-color;
        color: #fff;
    }
}

.map {
    height: 800px;
    width: 100%;
    box-shadow: 6px 1px 17px 0 rgba(0, 0, 0, 0.5);
}

.main-card {
    position: relative;
    overflow: hidden;
    
}

.wrapper {
    vertical-align: top;
    img {
        width: 100px !important;
    }
}

.no-image-found {
    img {
        width: 25%;
    }
    h2 {
        color: $primary-color;
        font-size: 1.5rem;
    }
}

.fancard-details {
  margin-top: 30px;
}

.event-name {
    font-family: "open-sans-bold" !important;
    font-size: 21px;
    letter-spacing: 0.5px;
}

.event-address {
  width:90%;
  color: #6c6c6c;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 14px;
}

.event-attended {
  margin-top: 10px;
 font-size: 17px;
}

.event-date {
  color: #7d7d7d;
  letter-spacing: 0.4px;
  margin-top: 5px;
}

.m0 {
  margin: 0;
}

.event-div {
  // padding: 30px;
  // margin: 0px 15px 35px 0px;
  // box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
  // border-radius: 10px;
  box-shadow: 0 0px 13px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
        min-height: 200px;
        max-height: 300px;
        // height: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-radius: 7%;
        padding: 30px;
        margin: 0px 15px 35px 0px;
}

.location{
  width: 100%;
  margin-top: 5px;
}

.location-icon {
  width: 20px;
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
}

.search-results {
    height: 25rem;
    // overflow: scroll;
    overflow-y: scroll;
  }

 //Search card css...
  .school-img{
    width: 150px;
  }
 
  .passCardBody{
      padding: 15px 0px 0px 15px;
      text-align: left;
      position: relative;
  }

  .fanCard{
      border-radius: 10px;
      box-shadow: 0px 5px 10px 0px #88888854;
      border: none;
      min-height: 150px;
     
  }
  .list{
    max-height: 200px;
    height: 100%;
  }

  .bottomTime{
      margin: 0px;
  }

  .card-text.title,.card-text.subtext{
      font-weight: 500 ;
      font-size: 20px ;
      margin: 0px ;
  }
  .card-text.subtext{
    font-size: 15px !important;
    text-transform: capitalize;
    
  }
  .bottomSchoolName img{
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .matchLocation{
    font-size: 14px;
    color: #1946af;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    white-space: nowrap;
    width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .matchTime{
      font-weight: 500;
      margin-bottom: 5px;
      font-size: 12px;
  }

  .bottomSchoolName{
    padding: 5px 0px;
    align-self: center;
  }

  .freeCard{
    color: #ffffff;
    text-align: center;
    background-color: $Dark-color;
    border-radius: 0px 0px 10px 0px;
    font-size: 13px;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .paidCard{
    color: #ffffff;
    text-align: center;
    background-color: $Success-Color;
    border-radius: 0px 0px 10px 0px;
    font-size: 13px;
    padding: 7px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }