<div class="school-detail-section ">
    <!-- section-1 after header -->
    <!-- <div *ngIf="!school" class="bg-content pt-5">
        <div class="container text-center pt-5 title">
            <ngx-skeleton-loader count="2"
                [theme]="{ width: '80%', height: '40px', 'border-radius': '10px', 'opacity':' 0.30' }">
            </ngx-skeleton-loader>
        </div>
    </div> -->
    <div class="bg-content pt-5">

        <div class="container text-center pt-5 title">
            <ngx-skeleton-loader count="2" *ngIf="!school" [theme]="{ width: '80%', height: '40px', 'border-radius': '10px', 'opacity':' 0.30' }">
            </ngx-skeleton-loader>
            <h1 *ngIf="school" class="mt-5 pt-4 text-uppercase text-light "> {{school.SchoolName}}</h1>
            <p *ngIf="school" class="text-uppercase text-light">{{school.Slogan}}</p>

            <!-- school card image -->

            <div class="school-card pt-2">
                <ngx-skeleton-loader count="1" *ngIf="!school.CardImage" [theme]="{ width: '350px', height: '230px', 'border-radius': '10px','margin-bottom': '-45px', 'opacity':' 0.30' }" appearance="circle">
                </ngx-skeleton-loader>
                <img *ngIf="school" src="{{school.CardImage}}" />
            </div>
        </div>
    </div>
    <!-- section-1 completed -->

    <!-- section-2 deals card -->
    <div class="deals-card mt-5 pt-4">
        <div class="container">
            <div *ngIf="school" class="deal-content text-center">
                <!-- <h1 [innerHtml]="school?.Address" class="text-capitalize "></h1> -->
            </div>
            <ul class="nav nav-pills justify-content-center mt-4 mb-4" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-list-tab" data-toggle="pill" href="#pills-list" role="tab" aria-controls="pills-list" aria-selected="true">
                        <i class="material-icons align-middle m-icon mr-2">list</i>
                        <span class="align-middle">List-view</span>
                    </a>
                </li>
                <li class="nav-item ml-2">
                    <a class="nav-link" id="pills-map-tab" data-toggle="pill" href="#pills-map" role="tab" aria-controls="pills-map" aria-selected="false">
                        <i class="material-icons align-middle mr-2">place</i>
                        <span class="align-middle">Map-view</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-list" role="tabpanel" aria-labelledby="pills-list-tab">
                <div class="container">
                    <div>
                        <!-- card -->
                        <div class="row  main-card" *ngIf="foodCardArray">
                            <div class="col-md-4 mb-5 mt-4" *ngFor="let item of foodCardArray" (click)="gotoDetailPage(item.Businessid)">
                                <div class="card">
                                    <img class="card-img" src="{{item.BusinassImage}}" onError="src='./assets/header/loader.png';" alt="{{item.Businassname}}">
                                    <div class="card-overlay">
                                        <h5 class="card-title text-center">{{item.OfferName}}</h5>
                                    </div>
                                    <div class="card-body p-2">
                                        <img class="cat-image" src="{{item.MarkerImage}}" />
                                        <p>{{item.Businassname}}</p>
                                        <div class="last-part pt-1" *ngIf="item.Rating && item.Rating != 0">
                                            <div class="d-inline-block">
                                                <span>{{item.Rating}}</span>
                                                <div class="wrapper d-inline-block pl-2 pb-1">
                                                    <img class="star-image" src="./assets/star/{{item.Rating}}.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="no-image-found m-auto text-center" *ngIf="foodCardArray.length == 0">
                            <img class="" src="./assets/no-data.png" />
                            <h2>
                                No data available
                            </h2>
                        </div>

                        <!-- card -->
                        <!-- acess to deals section -->
                        <!-- <div class="acess-deals-section pt-5 pb-5 m-auto">
                            <h2>Acess to Deals In Every Participating Community!</h2>
                            <div class="row">
                                <div class="col-md-4 pt-5 pb-5" *ngFor="let i of [0,1,2]">
                                    <div class="btn-div">
                                        <button type="button" class="btn btn-outline-primary">see deals in
                                            brainerd</button>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
                <div class="map" #map>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container" *ngIf="eventList && eventList.length > 0" >
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4 col-md-4 col-sm-4 my-3 list" *ngFor="let item of eventList" (click)="navToBuyTicket(item)">
                <div class="card fanCard m-2">
                    <div class="card-body passCardBody">
                        <p class="card-text title">{{item.Name}}</p>
                        <p class="card-text subtext">{{item.Team}}</p>
                        <div class="row bottomTime">
                            <div class="col-9 col-lg-9 col-sm-9 col-md-9 bottomSchoolName">
                                <img src="./assets/pin.png" />
                                <p class="card-text matchLocation">@ {{item.Address}}</p>
                                <p class="card-text matchTime">{{item.Date}}</p>
                            </div>
                            <div class="col-3 col-lg-3 col-sm-3 col-md-3  freeCard" *ngIf="item.Payment == 0">
                                <p class="card-text"><b>Free</b> With Fancard</p>
                            </div>
                            <div class="col-3 col-lg-3 col-sm-3 col-md-3  paidCard" *ngIf="item.Payment == 1">
                                <p class="card-text"><b>$ {{item.TicketPrice}}</b> Paid Event</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

</div>
<app-signup-school></app-signup-school>
