<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
  <span aria-hidden="true">&times;</span>
</button>
<div class="mainDiv">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-12">
        <h1>Login First</h1>
        <p>Hello there, sign in to continue!</p>
      </div>
    </div>
    <form [formGroup]="loginForm">
      <div class="row mt-4">
        <div class="col-md-6 pr-4 inputbox">
          <div class="input-div">
            <label class="label-text">Email</label>
            <input type="text" placeholder="Enter Email" class="form-control formInputs" formControlName="email"/>
            <p class="error-text" *ngIf="loginFormSubmitted && loginForm.controls.email.errors?.required">
              Email
              is required!.</p>
              <p class="error-text" *ngIf="loginFormSubmitted && loginForm.controls.email.errors?.email">
                Email
                is not valid!.</p>
          </div>
        </div>

        <div class="col-md-6 pl-4 inputbox">
          <div class="input-div">
            <label class="label-text">Password</label>
            <input type="password" placeholder="Enter Password" class="form-control formInputs" formControlName="password"/>
            <p class="error-text" *ngIf="loginFormSubmitted && loginForm.controls.password.errors?.required">
              Password is
              required!.</p>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-md-12 passInfo">
        <p class="forgotPwd"><a [routerLink]="'/forgot-password'">Forgot Password?</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <button type="button" class="btn btn-primary signInButtonStyle" (click)="loginUser()">Sign In</button>
      </div>
      <!-- <div class="col-6 col-md-6 col-xs-12 signUpButton">
        <button type="button" class="btn btn-primary signUpButtonStyle" (click)="bsModalRef.hide();navToSignUp()">Sign Up</button>
      </div> -->
    </div>
  </div>
</div>

