@import "../../shared/theme/variable.scss";

.title:after {
    content: "";
    display: block;
    height: 2px;
    background: $tertiary-color;
    width: 7%;
    margin-top: 15px;
  }
  .test{
      height: 100vh;
  }
  
  .view-card-div{
    background:url('/assets/card_curve.png') no-repeat center 30px/100%;
    box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 90%;
    margin: 20px;
    min-height: 250px;
    height: 100%;
    position: relative;
    &::after{
        position: absolute;
        content: ' ';
        display: block;
        border-radius: 10px;
        bottom: 0;
        left:0;
        right:0;
        height: 29%;
        background-color:#f2f2f2;
        z-index: 1;
    }

    .school-name p{
        font-size: 0.9rem;
        color: #fff;
    }
    .valid-year span{
        font-size: 0.8rem;
        color: #fff;
       
    }
    .school-logo{
        background: linear-gradient(141deg, #3f4495, #367cb9, #23b0db) border-box;
        border: 4px solid transparent;
        border-radius: 100%;
        width: 90px;
        height: 90px;
        margin-left: 19px;
        margin-top: 18px !important;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 100%;
        }
    }
    .last-section {
        z-index: 2;
        position: absolute;
        bottom: 0px;
        img{
            width: 80px;
        }
        p{
            text-transform: capitalize;
            padding-left: 10px;
        }
    }
  }
  .add-card-div{
    max-width: 310px;
    min-height: 250px;
    height: 100%;
    width: 90%;
    background: #cbcbcb;
    position: relative;
    margin: 23px 25px;
    box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    img{
        width: 60px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    p{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, 56%);
    }
  }
.view-ticket-div{
    background: url('/assets/ic_ticket_blank.png') no-repeat center center/100% 95%;
    margin: 10px;
    min-height: 200px;
    height: 100%;
    // min-width: 300px;
    width: 95%;
    position: relative;
    .ticket-details{
        position: absolute;
        top: 15%;
        color: #fff;
        left: 8%;
        .ticket-title{
            font-size: 1.1rem;
            text-transform: capitalize;
        }
        .ticket-add{
            font-size: 0.7rem;
        
        }
        .ticket-date{
            font-size: 0.9rem;
           
        }
        img{
            width: 110px;
        }
    }
}
.add-ticket-div{
    background: url('/assets/ticket.png') no-repeat center center/100% 90%;
    min-height: 200px;
    height: 100%;
    // min-width: 300px;
    width: 95%;
    position: relative;
    margin: 13px 0px;

    img{
        width: 60px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    p{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, 56%);
    }
}
.wrapper
{
    text-align: center;
    padding: 60px 0px;
    img{
        height:70px
    }
}


 //ipad specific
 @media only screen and (width: 768px) and (height: 1024px) {
    .add-card-div{
        margin: 20px 15px !important;
        max-width: 260px;
    }
    .view-card-div .school-logo{
        // margin-top: 11px !important;
    }
    .test{
        height: 100vh;
    }
 }


 //ipad pro specific
 @media only screen and (width: 1024px) and (height: 1366px) {
    .view-card-section{
        height: 76vh;
    }
    .view-card-div::after{
        height: 33% !important;
    }
 }
