<!-- VIEW MY CARD PAGE START  -->
<div class="view-card-section py-5 mt-5" [ngClass]="load == 'none' ? 'test py-5 mt-5' : 'view-card-section py-5 mt-5'">
    <div class="container pt-5">
        <h2 class="title">My Passes</h2>
        <!-- Pass slider -->
        <div class="your-class" [style]="{'display':load}" *ngIf="myPass.length != 0" (load)="load = 'block'">
           
            <div *ngFor="let _pass of myPass">
                <div class="col-12 view-card-div" [style.backgroundColor]="_pass.Color">
                    <div class="row pt-3">
                        <div class="col-6 school-name">
                            <p class="m-0 bold">{{_pass.CardName}}</p>
                        </div>
                        <div class="col-6 valid-year text-center">
                            <span>{{_pass.valid}}</span>
                            <div class="school-logo mt-2">
                                <img src="{{_pass.CardImage}}" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12 last-section">
                            <img src="{{_pass.QRCode}}" />
                            <p class="mb-2 bold">{{_pass.UserName}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12   add-card-div  slick-slide" (click)="goTo('buy-pass')">
                <img src="./assets/ic_add_pass_ticket.png"/>
                <p class="bold">
                    Add a Pass
                </p>
            </div>
        </div>
        <div *ngIf="myPass.length == 0" >
            <div class="col-12 col-lg-4 col-md-4 col-sm-4" (click)="goTo('buy-pass')">
                <div class="add-card-div  no-data">
                    <img src="./assets/ic_add_pass_ticket.png"/>
                <p class="bold">
                    Add a Pass
                </p>
                </div>
            </div>
        </div>
    <!--NOTE: these is facebook loading...-->
    <div class="wrapper" *ngIf="load == 'none' && myPass.length != 0"> 
        <img src="./assets/facebook.gif"/>
      </div>

        <!-- Ticket slider -->
        <h2 class="title pt-5">My Tickets</h2>
        <div class="your-class1" [style]="{'display':load}" *ngIf="myTicket.length != 0">
            <div *ngFor="let _ticket of myTicket">
                <div class="col-12">
                    <div class=" view-ticket-div">
                        <div class="row ticket-details">
                            <div class="col-6">
                                <p class="ticket-title bold  mb-2">{{_ticket.Name}}</p>
                                <p class="ticket-add mb-2">
                                    {{_ticket.Address}}
                                </p>
                                <p class="ticket-date">{{_ticket.EventDate}}</p>
                            </div>
                            <div class="col-6 ">
                                <img src="{{_ticket.QRCode}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-12" (click)="goTo('near-events')">
                    <div class="add-ticket-div" >
                        <img src="./assets/ic_add_pass_ticket.png"/>
                        <p class="bold">
                            Find Events
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="myTicket.length == 0" >
            <div class="col-12 col-lg-4 col-md-4 col-sm-4" (click)="goTo('near-events')">
                <div class="add-ticket-div no-data " >
                    <img src="./assets/ic_add_pass_ticket.png"/>
                    <p class="bold">
                        Find Events
                    </p>
                </div>
            </div>
        </div>
        <div class="wrapper" *ngIf="load == 'none' && myTicket.length != 0"> 
            <img src="./assets/facebook.gif"/>
          </div>
    
    </div>
    
</div>
<!-- VIEW MY CARD PAGE OVER  -->