<!-- contact form -->
<div class="app-footer">
  <div class="footer-section">
    <div class="blue-line"></div>
    <div class="container">
      <div class="row responsive-row">
        <div class="col-md-3">
          <div class="info-div">
            <img class="logo-img" src="./assets/new-logo-blue.png" />
            <p>
              Cards issued in 2018 are valid through Aug. 1, 2019. Deals redeemable by presenting #1FanCard. Deals valid
              at business location specified and only while listed on website.
            </p>
          </div>
        </div>
        <div class="col-md-3 pl-4">
          <div class="useful-links mt-4">
            <h2 class="text-capitalize">useful links</h2>
            <!-- <a class="text-link" routerLink="/support" routerLinkActive="active">Support
              <span class="sr-only"></span>
            </a> -->
            <a class="text-link" routerLink="/contact-us" routerLinkActive="active">Contact us
              <span class="sr-only"></span>
            </a>
            <a class="text-link" routerLink="/event-history" routerLinkActive="active">Events History
              <span class="sr-only"></span>
            </a>
            <a class="text-link" routerLink="/purchase-history" routerLinkActive="active">Purchase History
              <span class="sr-only"></span>
            </a>
            <a class="text-link" routerLink="/faq" routerLinkActive="active">FAQ
              <span class="sr-only"></span>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="our-company mt-4">
            <h2 class="text-capitalize">our links</h2>
            <a class="nav-link" routerLink="/explore-events" routerLinkActive="active">Buy Tickets
              <span class="sr-only"></span>
            </a>
            <a class="nav-link" routerLink="/buy-pass" routerLinkActive="active">Buy Passes
              <span class="sr-only"></span>
            </a>
            <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About Us
              <span class="sr-only"></span>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="About-us-section mt-4">
            <div class="btn-div row">
              <div class="col-6 col-lg-6 col-md-6 col-sm-6 p-2 d-flex justify-content-end">
                <a href="https://play.google.com/store/apps/details?id=com.fancard.app" target="_blank"><img class="google-img"
                    src="./assets/home/google.png" /></a>
              </div>
              <div class="col-6 col-lg-6 col-md-6 col-sm-6 p-2 d-flex justify-content-start">
                <a href="https://apps.apple.com/us/app/fancard-app/id1462650484?ls=1" target="_blank"><img class="apple-img"
                    src="./assets/home/apple.png" /></a>
              </div>
            </div>
            <div class="fb-tw-div row mt-3">
              <div class="col-6 col-lg-6 col-md-6 col-sm-6 p-2 d-flex justify-content-end text-center" (click)="openLink('fb')">
                <img class="fb-twiter-img" src="./assets/footer/fb.png" />
              </div>
              <div class="col-6 col-lg-6 col-md-6 col-sm-6 p-2 d-flex justify-content-start text-center" (click)="openLink('tw')">
                <img class="fb-twiter-img" src="./assets/footer/twitter.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-6 rights-div pb-3">
          <img src="./assets/footer/copyright.png" />
          <p>FANCARD {{currentYear}}<span>All rights are reserved</span></p>
        </div>
        <div class="col-md-6 author">
          <a href="https://www.excellentwebworld.com/" target="_blank">Designed & Developed by
            Excellent Webworld.</a>
        </div>
      </div>
    </div>
    
  </div>
</div>
