@import "../../shared/theme/variable.scss";

// .mainDiv{
//   height:  100vh;
// }

.test{
  height: 100vh;
}

.passCardBody{
      // padding: 15px 0px 0px 15px;
      // text-align: left;
      display: flex;
      justify-content: space-between;
      height: 25px;
  }

  .title:after {
    content: "";
    display: block;
    height: 2px;
    background:$tertiary-color;
    width: 47%;
    margin-top: 15px;
  }

  .purchaseCard{
    padding: 10px !important;
  }

  .purchaseType{
    font-weight: bolder !important;
    font-size: 16px;
    margin-bottom: 5px !important;
  }

  .purchasePrice{
    font-size: 16px;
    color: #0683ed;
    font-weight: bold !important;
  }

  .fanCard{
      border-radius: 10px;
      box-shadow: 0px 5px 10px 0px #88888854;
      border: none;
      min-height: 100px;
     
  }
  .list{
    max-height: 200px;
    height: 100%;
  }

  .bottomTime{
      margin: 0px;
  }

  .card-text.title,.card-text.subtext{
      font-weight: 500 ;
      font-size: 20px ;
      margin: 0px ;
  }
  .card-text.subtext{
    font-size: 15px !important;
    text-transform: capitalize;
    
  }
  .bottomSchoolName img{
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .matchLocation{
    font-size: 12px;
    color: $Dark-color;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
  }

  .matchTime{
      font-weight: 500;
      margin-bottom: 5px;
      font-size: 12px;
  }

  .bottomSchoolName{
    padding: 5px 0px;
    align-self: center;
  }

  .freeCard{
    color: #ffffff;
    text-align: center;
    background-color: $Dark-color;
    border-radius: 0px 0px 10px 0px;
    font-size: 13px;
    padding: 10px;
  }

  .paidCard{
    color: #ffffff;
    text-align: center;
    background-color: $Success-Color;
    border-radius: 0px 0px 10px 0px;
    font-size: 13px;
    padding: 7px;
  }

  .cadNumber{
    display:inline-block !important ;
    margin: 0px !important;
  }

  .cardType{
    width: 30px;
    margin-right: 10px;
  }

  .purchaseName{
    margin: 0px !important;
    // font-weight: bold;
  }

  .cardDetails{
    margin-top: 5px;
  }

  @media only screen and (max-width: 767px) {

    .mainDiv{
        
        height:  auto !important;
        // padding:0px !important;
    }
  }