<div  [ngClass]="purchaseHistoryData.length  <= 5 ? 'test pt-5 mt-5 pb-5' : 'mainDiv pt-5 mt-5 pb-5'">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
                <h2 class="title">Purchase History</h2>
            </div>
        </div>
        <div *ngIf="purchaseHistoryData && purchaseHistoryData.length > 0">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-4 col-md-4 col-sm-6 my-3 list" *ngFor="let item of purchaseHistoryData">
                    <div class="card fanCard m-2">
                        <div class="card-body purchaseCard">
                            <div class="passCardBody">
                                <p class="purchaseType bold">{{item.Type}}</p>
                                <p class="purchasePrice bold">${{item.TotalPrice ? item.TotalPrice : item.Total }}.00</p>
                            </div>
                            <div>
                                <p class="purchaseName">{{item.Name ? item.Name : item.SchoolName}}</p>
                            </div>
                            <div class="cardDetails">
                                <img class="cardType" src="./assets/pay (1).png" />
                                <!-- <p class="cardType">{{item.PaymentCardType}}</p> -->
                                <p class="cadNumber">XXXX XXXX XXXX {{item.CardNumber}}</p>
                            </div>

                            <!-- <p class="card-text title">{{item.Type}}</p>
                            <p class="card-text subtext">${{item.TotalPrice}}</p>

                            <p class="card-text title">{{item.Name}}</p> -->
                            <!-- <p class="card-text subtext">{{item.PaymentCardType}}</p> -->
                            <!-- <img src="">
                            <p class="card-text subtext">XXXX XXXX XXXX {{item.CardNumber}}</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="purchaseHistoryData && purchaseHistoryData.length == 0" class="no-found">
            <img class="" src="./assets/no-data.png" />
            <h2 class="mt-5">
                No purchase history Found
            </h2>
        </div>
    </div>
</div>