<!-- <app-contact-us></app-contact-us> -->

<!-- NEW CODE OF HOME PAGE -->
<div class="bg-content">
  <div class="container">
    <div class="row pt-3">
      <div class="col-md-6 pt-4 pb-4">
        <!-- <div id="bannerCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#bannerCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#bannerCarousel" data-slide-to="1"></li>
            <li data-target="#bannerCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="./assets//home/banner.png" alt="Banner Image">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets//home/passes.png" alt="Banner Image">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets//home/ticket.png" alt="Banner Image">
            </div>
          </div>
        </div> -->
        <div>
            <img class="d-block w-100" src="./assets/banner.png" alt="Banner Image">
        </div>
        <div class="content-div pt-4">
          <h2 class="text-light font-weight-bold">
            Mobile ticketing for high schools that keeps fans safe.
            <span class="text-lowercase"></span></h2>
          <!-- <p class=" text-light font-weight-normal m-3 pt-5">Find deals with FanCard App!</p> -->

          <!-- <p class="text-light desc m-3">
						Admission to your high school's games & events. Access to deals in all participating
						communities.
					</p> -->
          <!-- <div class="btn-div text-left m-2">
            <a href="https://apps.apple.com/us/app/fancard-app/id1462650484?ls=1" target="_blank"><img
                class="google-apple-img" src="./assets/home/apple.png" /></a>
            <a href="https://play.google.com/store/apps/details?id=com.fancard.app" target="_blank"><img
                class="google-apple-img" src="./assets/home/google.png" /></a>
          </div> -->

        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="up-coming-form container scroll-link">
        <div class="inner-form">
              <h3 class="pb-3">Find a School</h3>
              <div class="searchbar mb-4 mt-2">
                <i class="fa fa-search" aria-hidden="true" style="color: #fff !important;"></i>
                <ng2-completer style="color:#fff !important;"class="form-control home form-control-lg form-control-borderless " [(ngModel)]="searchStr"
                  [datasource]="schoolData" [minSearchLength]="0" placeholder="Search here" (selected)="onSelectSchool($event)">
                </ng2-completer>
                <button class="btn btn-lg btn-success " type="submit">Search</button>
              </div>
          </div>
          <div class="text-center" *ngIf="!loggedIn">
            <span style="color: #fff;">OR</span>
          </div>
         
          <div class="pt-4" *ngIf="!loggedIn">
            <button  type="button"  (click)="openLoginModel()"
            class="btn btn-light school-btn signin-btn mt-2 ">
            Sign In
            </button>
            <button type="button"  (click)="openSignUpModel()"
                class="btn btn-light school-btn signup-btn mt-2 ">
                Sign Up
            </button>
          </div>
          <div class="btn-div pt-4">
            <a href="https://apps.apple.com/us/app/fancard-app/id1462650484?ls=1" target="_blank"><img
                class="google-apple-img" src="./assets/home/apple.png" /></a>
            <a href="https://play.google.com/store/apps/details?id=com.fancard.app" target="_blank"><img
                class="google-apple-img" src="./assets/home/google.png" /></a>
          </div>
         
        </div>
      </div>
      <!-- <div class="col-md-5 pt-3">`
        <div id="bannerCarousel" class="carousel slide align-items-left" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#bannerCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#bannerCarousel" data-slide-to="1"></li>
            <li data-target="#bannerCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="./assets//home/banner.png" alt="Banner Image">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets//home/passes.png" alt="Banner Image">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="./assets//home/ticket.png" alt="Banner Image">
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<!-- UP COMING EVENTS FORM-->
<!-- <div class="bg-upcoming pb-5 mb-2" id="dynamictabstrp">
  <div class="up-coming-form container scroll-link">
    <div class="inner-form">
      <h3>Upcoming Events</h3>
      <p class="subtitle">Find a School</p>
      <div class="searchbar mb-4 mt-2">
        <i class="fa fa-search" aria-hidden="true"></i>
        <ng2-completer class="form-control form-control-lg form-control-borderless " [(ngModel)]="searchStr"
          [datasource]="schoolData" [minSearchLength]="0" placeholder="Search here" (selected)="onSelectSchool($event)">
        </ng2-completer>
        <button class="btn btn-lg btn-success" type="submit">Search</button>
      </div>
    </div>
    Search Result data
    <img class="school-img pb-3" [src]="SearchSchoolImage" />

    IF DATA IS NOT NULL
    <div *ngIf="eventList && eventList.length > 0">
      <div class="row justify-content-center">
        <div
        [ngClass]="eventList.length > 1 ? 'col-12 col-lg-4 col-md-6 col-sm-6 my-3 list' : 'col-12 col-lg-6 col-md-6 my-3 list'" *ngFor="let item of eventList"
          (click)="navToBuyTicket(item)">
          <div class="card fanCard m-2">
            <div class="card-body passCardBody">
              <p class="card-text title">{{item.Name}}</p>
              <p class="card-text subtext">{{item.Team}}</p>
              <div class="row bottomTime">
                <div class="col-9 col-lg-9 col-sm-9 col-md-9 bottomSchoolName">
                  <img src="./assets/pin.png" />
                  <p class="card-text matchLocation">@ {{item.Address}}</p>
                  <p class="card-text matchTime">{{item.Date}}</p>
                </div>
                <div class="col-3 col-lg-3 col-sm-3 col-md-3  freeCard" *ngIf="item.Payment == 0">
                  <p class="card-text"><b>Free</b> With Fancard</p>
                </div>
                <div class="col-3 col-lg-3 col-sm-3 col-md-3  paidCard" *ngIf="item.Payment == 1">
                  <p class="card-text"><b>$ {{item.TicketPrice}}</b> Paid Event</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      VIEW MORE BTN
      <div *ngIf="showCategoryMore == true" class="row">
        <div class="btn-div pt-5 pb-5 m-auto">
          <button type="button" (click)="categoryViewMore()" class="btn btn-outline-primary view-more">View
            More</button>
        </div>
      </div>
      VIEW MORE BTN
    </div>

    IF DATA IS  NULL
    <div *ngIf=" (eventList == [] || eventList.length == 0) && callFlag == false">
      <P>No data found.</P>
    </div>
  </div>
</div> -->


<!-- Deals near by you -->

<!-- <div class="deals-near-you  pb-5 mb-2 text-center">
  <div class="container">

    <div class="offer-banner pt-5 pb-5 " *ngIf="bannerImage && bannerImage.length > 0">
      <div id="demo" class="carousel slide" data-ride="carousel">
       
        <div class="carousel-inner deals-caresoul">
          <ng-container *ngFor="let item of bannerImage; let i=index">
            <div class="carousel-item  active" *ngIf="i===0">
              <img src="{{bannerImage[i].BannerImage}}" alt="Banner Image" width="1108px" height="273px">
            </div>
            <div class="carousel-item " *ngIf="i!==0">
              <img src="{{bannerImage[i].BannerImage}}" alt="Banner Image" width="1108px" height="273px">
            </div>
          </ng-container>
        </div>
       
        <a class="carousel-control-prev busniess-caresoul" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon prev-img"></span>
        </a>
        <a class="carousel-control-next busniess-caresoul" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon next-img"></span>
        </a>
      </div>
    </div>

    <div class="pt-5" id="dynamictabstrp1">
      <h3>Deals Near You</h3>
      
      <div class="searchbar small mb-3 mt-3">
        <i class="fa fa-search" aria-hidden="true"></i>
        <ng2-completer class="ml-4 w-100" [(ngModel)]="dealSearchStr" [datasource]="dataService" [minSearchLength]="0"
          placeholder="Search here" (selected)="onSelect($event)">
          <button class="btn btn-lg btn-success" type="submit">Search</button>
        </ng2-completer>
        <button class="btn btn-lg btn-success" type="submit">Search</button>
      </div>

      <div class="row pt-2 justify-content-center pb-5">
        <div class="col-12 col-lg-3 col-md-4 pt-2 justify-content-center" *ngFor="let item of categoryArray"
          (click)="gotoBusinessList(item)">
          <div class="food-categoty mt-5">
            <div class="inner-div">
              <img class="select-img" src="{{item.SelectImage}}" />
              <img class="unselect-img" src="{{item.UnselectImage}}" />
              <p>{{item.CategoryName}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> -->

<!-- Mission div -->
<!-- <div class="mission-vision pb-5">
  <div class="container-fluid ">
    <div class="row align-items-center">
      <div class="col-12 col-lg-7 col-md-7 col-sm-7 desc">
        <div class="inner-div">
          <h3>Our Mission is To Keep Students and Fans Safe.</h3>
          <p>Fancard is a technology company that builds online ticketing platforms for schools at no cost. Schools of
            every size use our software
            to manage their ticket purchase and scan moblie ticket at games & events.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-5 col-md-5 col-sm-5 p-0 d-flex justify-content-end">
        <img class="student-img" src="./assets/home/students.png" />
      </div>
    </div>
  </div>
</div> -->

<!-- contact us -->
<!-- <app-contact-us></app-contact-us> -->