@import "../../shared/theme/variable.scss";
//bg-content css......
.bg-content {
    padding: 8% 0px;
    background: linear-gradient(90deg, #2ea5f9, #2998e6, #1477ea);
    width: 100%;
    // height: 750px;
    // position: relative;
    // background-size: 100% 100%;
    // background-repeat: no-repeat;
    // background-position: center;
    h2 {
      font-size: 3.0rem !important;
      letter-spacing: 1px;
      font-family: 'Caros-bold' !important;
      width: 95%
    }
    p {
      font-size: 1.5rem !important;
      font-weight: normal;
      letter-spacing: 1.5px;
    }
    .desc {
      font-size: 17px;
      font-weight: 100 !important;
      letter-spacing: 0.5px;
      word-spacing: 1px;
      width: 75%;
    }
  }
  .app-screen-img {
    width: 100%;
  }

  .google-apple-img {
    max-width: 100%;
    padding: 10px;
    width: 170px;
    cursor: pointer;
    pointer-events: all;
  }


  //upcoming form css and search css..
  .bg-upcoming{
    position: relative;

  }
  .bg-upcoming::after{
    content: " ";
    display: block;
    position: absolute;
    background: #f6f7fb;
    top: 35px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .up-coming-form{
    // width: 60%;
    // margin: -35px auto auto auto;
    // box-shadow:  0 1px 13px 0 rgba(0, 0, 0, 0.2);
    // padding: 20px;
    // background: #fff;
    // border-radius: 5px;
    text-align: center;
    // height: 220px;
    h3{
      padding-top: 10px;
      font-weight: 600;
      font-size: 2.5rem;
      letter-spacing: 0.5px;
      color: #fff;
    }
    .subtitle{
      padding-top: 15px;
      font-weight: 500;
      font-size: 1.3rem;
      letter-spacing: 0.5px;
      margin: 3px 0px;
    }
  }

  //Search card css...
  .school-img{
    width: 150px;
  }
 
  .passCardBody{
      padding: 15px 0px 0px 15px;
      text-align: left;
      position: relative;
  }

  .fanCard{
      border-radius: 10px;
      box-shadow: 0px 5px 10px 0px #88888854;
      border: none;
      min-height: 150px;
     
  }
  .list{
    max-height: 200px;
    height: 100%;
  }

  .bottomTime{
      margin: 0px;
  }

  .card-text.title,.card-text.subtext{
      font-weight: 500 ;
      font-size: 20px ;
      margin: 0px ;
  }
  .card-text.subtext{
    font-size: 15px !important;
    text-transform: capitalize;
    
  }
  .bottomSchoolName img{
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .matchLocation{
    font-size: 14px;
    color: #1946af;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    white-space: nowrap;
    width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .matchTime{
      font-weight: 500;
      margin-bottom: 5px;
      font-size: 12px;
  }

  .bottomSchoolName{
    padding: 5px 0px;
    align-self: center;
  }

  .freeCard{
    color: #ffffff;
    text-align: center;
    background-color: $Dark-color;
    border-radius: 0px 0px 10px 0px;
    font-size: 13px;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .paidCard{
    color: #ffffff;
    text-align: center;
    background-color: $Success-Color;
    border-radius: 0px 0px 10px 0px;
    font-size: 13px;
    padding: 7px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  
    
//deals near you css
.deals-near-you{
  background: #f6f7fb;
  padding: 10px;
  h3{
    font-size: 2.1rem;
    font-weight: 600;
  }
  .smSearch{
    width: 34% !important;
    background: transparent;
    margin-top: 20px;

    .btn-success{
      width: 100px;
      height: 30px;
      font-size: 14px !important;
    }
  }
  .offer-banner{
    img{
      display: inline-block;
      padding: 10px;
      width: 100%;
      object-fit: contain;
    }
  }
  .food-categoty{
    background: #fff;
    box-shadow: 0 6px 22px 0 #dbdde6;
    border-radius: 10px;
    width: 60%;
    height: 150px;
    margin: 0px auto;
    position: relative;
    .inner-div{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
    img{
      width: 50px;
    }
    p{
      padding-top: 16px;
      margin-bottom: 0px;
      font-size: 15px;
      font-weight: 600;
    }
  }
  .food-categoty:hover{
    background: $tertiary-color;
    p{
      color: #fff;
    }
    img{
      src: none;
    }
  }
  .food-categoty:hover{
    .select-img{
      display: inline-block;

    }
    .unselect-img{
      display: none;
    }
  }
  .food-categoty{
    .select-img{
      display: none;
    }
  }
}

// mission vision css
.inner-div{
  width: 55%;
  margin-left: auto;
    h3{
      font-size: 2.5rem;
      margin-bottom: 29px;
      font-family: 'Caros-bold' !important;
    }
    p{
      font-size: 1.1rem;
      letter-spacing: 1px;
    }
}

//view more
.btn-outline-primary {
  color: $Dark-color;
  border-color: $Dark-color;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  border-width: 2px;
  font-size: 20px;
}

.btn-outline-primary:hover {
  background-color: $Dark-color;
  color: #fff;
}

.btn-primary {
  background-color: $Dark-color;
  color: #fff;
  width: 150px;
  height: 55px;
  border-width: 2px;
  border-color: transparent;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  border-radius: 100px;
}

.carousel-item{
  height: 350px;
  img{
    width: 60% !important;
    margin: 0px auto;
    height: 320px;
    object-fit: contain;
  }
}

.carousel-indicators li{
  width: 7px !important;
  height: 7px !important;
}

.deals-caresoul .carousel-item{
  position: relative;
    height: 100%;
}

//signIn,signUp..
.signin-btn {
  background-color: #1267db; 
  border: 0px;
  color: #ffffff;
  width: 30%;
  border-radius: 100px;
  margin: 15px;
  font-size: 1.1rem;
 
}
.signin-btn:hover{
  background-color: #fff !important; 
  color: #1267db !important;
}
.signup-btn{
  background-color: #fff; 
  border: 0px;
  color: #1267db;
  width: 30%;
  border-radius: 100px;
  margin: 15px;
  font-size: 1.1rem;
}
.signup-btn:hover{
  color: #fff !important; 
  background-color: #1267db !important; 
}



/*------RESPONSIVE CSS START HERE------*/
/*---SMALL DEVIES------*/
@media only screen and (min-width: 320px) and (max-width: 500px) {
  
  .bg-content {
    // height: 990px;
    padding-top: 20%;
    padding-bottom: 20%;
    h2 {
      text-align: center;
      font-size: 2rem;
    }
    p {
      font-size: 1.3rem;
      letter-spacing: 0.5px;
    }
    .desc {
      font-size: 15px;
      font-weight: 100 !important;
      letter-spacing: 0.5px;
      word-spacing: 1px;
      width: 75%;
    }
  }
  .google-apple-img {
    width: 46% !important;
  }

  //upcoming events
  .up-coming-form{
    width: 90% !important;
  }
  .searchbar{
    width: 100%;
  }
  .small{
    width: 80% !important;
  }
  .btn-success {
    width: 30%;
  }
  ng2-completer {
    width: 60% !important;
  }
  

  //deals near you..
  .food-categoty{
    p{
      font-size: 14px !important;
    }
  }

  //mission vision css
  .inner-div,.student-img{
    padding: 30px 0px 0px 0px;
    width: 90%;
    margin: 0px auto;
  }
  .carousel-item{
    height: 325px;
  }
  .deals-caresoul .carousel-item img{
    width: 90%;
  }
  .signin-btn,.signup-btn{
    width: 40%;
  }
}




// ipad specific and ipad pro

/* ----------- iPad ----------- */
/* Portrait and Landscape */
@media only screen and (width: 768px) and (height: 1024px) {
    .bg-content{
      padding-top: 20% !important;
      h2{
        font-size: 2.5rem !important;
      }
    }
    .inner-div{
        width: 95% !important;
    }
    .searchbar{
      width: 100% !important;
    }
}

/* ----------- iPad pro----------- */
/* Portrait and Landscape */
@media only screen and (width: 1024px) and (height: 1366px) {
  
  .inner-div{
    width: 95% !important;
  }
}
