@import "../../shared/theme/variable.scss";

.passCardBody {
  padding: 15px 0px 0px 15px;
  text-align: left;
  position: relative;
}

.test{
  height: 100vh;
}

.title:after {
  content: "";
  display: block;
  height: 2px;
  background: $tertiary-color;
  width: 47%;
  margin-top: 15px;
}

.fanCard {
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px #88888854;
  border: none;
  min-height: 160px;
  width: 100%;
}

.cardRow {
  margin-right: 65px !important;
  margin-left: 65px !important;
}
.list {
  max-height: 200px;
  height: 100%;
}

.bottomTime {
  margin: 0px;
}

.card-text.cardTitle {
  font-size: 20px;
  margin: 0px;
  font-weight: bold;
  text-transform: capitalize;
}

.card-text.subtext {
  font-weight: 500;
  font-size: 18px;
  margin: 0px;
}
.card-text.subtext {
  font-size: 18px !important;
  text-transform: capitalize;
}
.bottomSchoolName img {
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.matchLocation {
  font-size: 15px;
  color: #1946af;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
  text-overflow: ellipsis;
  width: 89%;
}

.matchTime {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 15px;
}

.matchImage {
  margin: 0px !important;
}

.bottomSchoolName {
  padding: 5px 0px;
  align-self: center;
}

.freeCard {
  color: #ffffff;
  text-align: center;
  background-color: $Dark-color;
  border-radius: 0px 0px 10px 0px;
  font-size: 15px;
  padding: 5px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.paidCard {
  color: #ffffff;
  text-align: center;
  background-color: $Success-Color;
  border-radius: 0px 0px 10px 0px;
  font-size: 15px;
  padding: 5px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

// <--------------------------------MEDIA_QUERY-------------------------------------->
@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
  .mainDiv {
    padding-left: 0px !important;
    padding-right: 0px !important;
    // padding:0px !important;
  }

  .fanCard {
    min-height: 200px;
  }

  .cardRow {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .list {
    margin-top: 20px !important;
    margin-bottom: 50px !important;
  }

  .paidCard {
    border-radius: 0px 0px 10px 10px;
  }

  .freeCard {
    border-radius: 0px 0px 10px 10px;
    // min-height: 230px;
  }
}
@media only screen and (max-width: 575px) {
}

