<div [ngClass]="eventData.length == 0 ? 'test pb-5' : 'mainDiv pb-5'">
    <div class="container">
        <!-- <div class="row mt-5 ">
            <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
                <h2 class="title">Past Events</h2>
            </div>

        </div> -->
        <div *ngIf="eventData && eventData.length > 0">
            <div class="row justify-content-center cardRow">
                <div class="col-12 col-lg-6 col-md-6 col-sm-6 my-3 list d-flex justify-content-center justify-lg-start"
                    *ngFor="let item of eventData" (click)="navToEventDetail(item)">
                    <div class="card fanCard m-2">
                        <div class="card-body passCardBody">
                            <p class="card-text cardTitle">{{item.Name}}</p>
                            <p class="card-text subtext">{{item.Team}}</p>
                            <div class="row bottomTime">
                                <div class="col-md-10 bottomSchoolName">
                                    <!--  -->
                                    <p *ngIf="item.SchoolAddress" class="card-text matchLocation"><img
                                            class="matchImage" src="./assets/pin.png" />
                                        @ {{item.SchoolAddress}}</p>
                                    <p class="card-text matchTime pt-1">{{item.Date}}</p>
                                </div>
                                <div class="col-md-2 freeCard" *ngIf="item.Payment == 0">
                                    <p class="card-text"><b>Free</b> With Fancard</p>
                                </div>
                                <div class="col-md-2 paidCard" *ngIf="item.Payment == 1">
                                    <p class="card-text"><b>$ {{item.TotalPrice}}</b> Paid Event</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="eventData && eventData.length == 0" class="no-found pt-5">
            <img class="" src="./assets/no-data.png" />
            <h2 class="mt-5">
                No Events History Found
            </h2>
        </div>
    </div>
</div>