@import "../../shared/theme/variable.scss";



.mainDiv {
  background: linear-gradient(90deg, #2ea5f9, #2998e6, #1477ea);
  height: auto;
  // border-radius: 10px;
}

.test{
  background: linear-gradient(90deg, #2ea5f9, #2998e6, #1477ea);
 .Padding{
  padding: 20% 0px;
 }
}

.container {
  max-width: 730px;
}


.or-text{
  text-align: center;
  color: white;
  font-weight: 600;
}

.find-text{
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 22px;
}

.signInButton {
  display: flex;
  justify-content: flex-end;
  outline: none;
  // margin-top: 200px;
}

.signUpButton {
  display: flex;
  justify-content: flex-start;
  outline: none;
  // margin-top: 200px;
}

.signInButtonStyle ,.signInButton1Style{
  border-radius: 50px;
  background-color: #116bd9;
  width: 54%;
  height: 47px;
  font-size: 22px !important;
  outline: none;
  border: none !important;
}

.signInButtonStyle:hover, .signInButton1Style:hover {
  background-color: #ffffff;
  color: #116bd9;
  outline: none;
}

.signUpButtonStyle {
  border-radius: 50px;
  background-color: #ffffff;
  color: #116bd9;
  width: 54%;
  height: 47px;
  font-size: 22px !important;
  outline: none;
  border: none !important;
}

.signUpButtonStyle:hover {
  background-color: #116bd9;
  color: #ffffff;
  outline: none;
}

::placeholder {
  color: #c8e2fd;
  opacity: 1; /* Firefox */
}

.searchContent{
  border: 2px solid white;
  border-radius: 25px;
  padding: 5px;
}

.searchButtonStyle{
  width: 20%;
  border-radius: 50px;
  background-color: #116bd9;
  font-size: 12px !important;
  outline: none;
  border: none !important;
}

.searchButtonStyle:hover {
  background-color: #ffffff;
  color: #116bd9;
  outline: none;
}

.searchBtn{
  padding-left: 40px;
  width: 80% !important;
  background: transparent;
  border: none;
  box-shadow: none;
  background:url(../../../assets/search.png) no-repeat left 15px top 10px;
}

.searchbar.option-popup ng2-completer{
  background: transparent !important;
}
.searchbar.option-popup i{
  color: #fff !important;
  padding: 0px 11px !important;
}



// <------------------------------------------------MEDIA_QUERY--------------------------------->

@media only screen and (max-width: 1440px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
  .signInButton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .signUpButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 575px) {
}
