@import "../../shared/theme/variable.scss";

.title:after {
    content: "";
    display: block;
    height: 2px;
    background: $tertiary-color;
    width: 47%;
    margin-top: 15px;
}

.title-content{
    font-size: 18px;
}


.contactUs {
    border-radius: 50px;
    background-color: #116bd9;
    color: #FFFFFF;
    // width: 25%;
    height: 47px;
    font-size: 18px !important;
}

.about-us-section {
    .bg-content {
        background: $primary-color;
        width: 100%;
        height: 290px;
    }
    .title {
        h1 {
            width: 100%;
            text-transform: capitalize;
            font-weight: 400;
        }
    }
    .responsive-card {
        flex-direction: row;
    }
    .desc {
        p,
        span {
            font-size: 1rem !important;
        }
    }
    .card-header img {
        width: 100%;
    }
    .card-block {
        padding: 5% 7% 5% 2%;
        width: 100%;
        h4 {
            font-size: 24px;
            padding: 5px;
            letter-spacing: 0.5px;
            font-weight: bold;
        }
    }
    .card-text {
        color: $primary-color;
        letter-spacing: 0.5px;
    }
    .card-block,
    .card-header {
        background-color: rgba(0, 0, 0, 0.065);
    }
    .card-img-top {
        background: $primary-color;
    }
    .school-busi-cards {
        margin-top: 15%;
        .card {
            position: relative;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.125);
            .card-img-top {
                background: #2096f1;
                width: 80px;
                height: 80px;
                border-radius: 100%;
                margin: 0px auto;
                position: absolute;
                top: -25%;
                left: 50%;
                transform: translate(-50%, 34%);
                border: 2px solid #d8d9da;
                img {
                    padding: 19px;
                }
            }
            .card-body {
                background: rgba(0, 0, 0, 0.03);
                text-align: center;
                padding-top: 22%;
                .card-title {
                    color: $primary-color;
                }
                .card-text {
                    color: #222;
                    ul {
                        list-style-type: none !important;
                    }
                }
            }
        }
    }
    .school-busi-cards .card {
        min-height: 19rem;
        // width: 18rem;
    }
    .embed-responsive {
        border-radius: 10px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 414px) {
    .responsive-card {
        flex-direction: column !important;
    }
    .card-header,
    .card-block {
        text-align: center;
    }
    .card-header img {
        width: 50% !important;
    }
    .card-block {
        padding: 5% !important;
        h4 {
            font-size: 18px !important;
        }
    }
    .card-text {
        font-size: 15px;
    }
    p {
        padding: 10px;
        span {
            padding: 10px !important;
            font-size: 15px;
        }
    }
    .last-desc {
        p {
            padding: 10px;
            span {
                padding: 10px !important;
            }
        }
    }
    .img-div {
        text-align: center;
    }
    .img-div img {
        max-width: 80%;
    }
    .col-md-4 {
        .card {
            margin: 40px auto;
        }
    }
    .school-busi-cards .card {
        min-height: 16rem !important;
    }
}

@media only screen and (max-width: 767px) {
    .responsive-card {
        flex-direction: column !important;
    }
    .card-header,
    .card-block {
        text-align: center;
    }
    .card-header img {
        width: 50% !important;
    }
    .card-block {
        padding: 5% !important;
        h4 {
            font-size: 18px !important;
        }
    }
    .card-text {
        font-size: 15px;
    }
    p {
        padding: 10px;
        span {
            padding: 10px !important;
            font-size: 15px;
        }
    }
    .last-desc {
        p {
            padding: 10px;
            span {
                padding: 10px !important;
            }
        }
    }
    .img-div {
        text-align: center;
    }
    .img-div img {
        max-width: 80%;
    }
    .col-md-4 {
        .card {
            margin: 40px auto;
        }
    }
}
