<div class="maindiv-section mt-5 pt-5 pb-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
        <h2 class="title">About Us</h2>
      </div>
    </div>
    <div class="about-us-section ">
      <div class="about-desc about-desc pt-5 pb-5">
        <div class="container">
          <!-- <div class="row"> -->
          <!-- CEO quotos Card -->
          <div class="col card border-0 responsive-card">
            <div class="card-header border-0">
              <img src="./assets/About us/Morgan.png" alt="">
            </div>
            <div class="card-block  px-2">
              <h4 class="card-title normal" [innerHtml]="quot_text"></h4>
              <p class="card-text bold" [innerHtml]="ceo_name"></p>
            </div>
          </div>
          <!-- <div class="col-md-6 mt-5 desc" [innerHtml]="aboutus_desc[0]?.sectioncontent"></div>
                    <div class="col-md-6">
                        <div class="img-div">
                            <img src="./assets/school-Detail/about-us.jpg" />
                        </div>
                    </div>
                    <div>
                        <p class="last-desc" [innerHtml]="aboutus_desc[1]?.sectioncontent"></p>
                    </div> -->
          <!-- </div> -->

          <!--description -->
          <!-- <div class="col mt-5 desc">
            <p [innerHtml]="aboutus_desc[1]?.sectioncontent"></p>
          </div> -->

          <!-- <div class="row text-center"> -->

          <!-- <div class="contactUsBtn">
              <button class="btn btn-lg btn-success" type="submit">Search</button>
            </div> -->

          <!-- <ng-container *ngFor="let desc of aboutus_desc.bottom_section">
            <ng-container *ngIf="desc.status == '1'">

              <h1 class="mt-5">{{desc.sectiontitle}}</h1>
              <div>
                <p [innerHtml]="desc?.sectioncontent"></p>
              </div>
            </ng-container>
          </ng-container> -->

          <h3 class="mt-5">
            Made for high school game & event coordinators
          </h3>
          <div class="title-content">
            <p>From soccer games to swimming meets to musicals to prom, use our secure online platform to sell tickets
              and multi-use
              activity passes for school sponsored events
            </p>
          </div>
          <h3 class="mt-4">
            Get started in minutes
          </h3>
          <div class="title-content">
            <p>Sync your school’s activity calendar and begin selling tickets to events online with customized built-in
              payment processing, analytics, and support
            </p>
          </div>


          <h3 class="mt-4">
            Easy to use mobile ticket scanning
          </h3>
          <div class="title-content">
            <p>
              Get your attendees in the door fast
            </p>
          </div>


          <h3 class="mt-4">Track attendance</h3>
          <div class="title-content">
            <p>Manage and track your sales, and see who attends your event with reporting and analytics
            </p>
          </div>



          <h3 class="mt-4">Calculate your estimated sales </h3>
          <div class="title-content">
            <p>It would be really cool if we could add something like this but with our 5.9% + $0.30 fee so schools can
              see our pricing model: https://www.eventbrite.com/organizer/pricing/
            </p>

          </div>




          <div class="text-center mt-5">
            <button class="contactUs btn btn-lg" (click)='gotoContactUs()' type="submit">Get Started</button>
          </div>


          <!-- <div class="col-md-4 col-12 school-busi-cards" *ngFor="let desc of aboutus_desc.bottom_section">
              <div class="card border-0 m-auto" *ngIf="desc.status == '1'">
                <div class="card-img-top text-center">
                  <img class="" src="../../../assets/About us/1.png" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{desc.sectiontitle}}</h5>
                  <p class="card-text" [innerHtml]="desc?.sectioncontent"></p>
                </div>
              </div>
            </div> -->

          <!-- </div> -->

        </div>
      </div>
      <!-- video container -->
      <!-- <div class="video-section">
        <div class="container pt-5 pb-5">
          <div class="row">
            <div class="embed-responsive embed-responsive-16by9 w-50 m-auto">
              <iframe class="embed-responsive-item"
                src="//www.youtube.com/embed/_TdsR5WeEEY?wmode=transparent&autoplay=1&theme=dark&controls=1&autohide=1&loop=0&showinfo=0&rel=0&playlist=false&enablejsapi=0"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>

      </div> -->
    </div>
  </div>
</div>