<div class="mainDiv pt-5 mt-5">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
                <h2 class="title">Buy Ticket</h2>
            </div>
            <div class="col-md-6 d-flex justify-content-md-end justify-content-sm-center justify-content-center">
                <img class="schoolLogo m-4 m-lg-0 m-md-0" src='{{ eventData.SchoolImage }}' />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center justify-content-md-start">
                <h4>{{eventData.Name}}</h4>
            </div>
        </div>
        <div class="row pt-3 pt-lg-0">
            <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
                <h6 class="add"><img class="pinImg" src='./assets/pin.png' /> @{{eventData.Address}}</h6>
            </div>
            <div class="col-md-6 d-flex justify-content-md-end justify-content-sm-center justify-content-center">
                <h6 class="add"> {{eventData.Date}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="eventDesc">{{eventData.Description}}</p>
            </div>
        </div>
        <div class="interest-btn" *ngIf="eventData.Payment != 1">
            <button type="button" class="btn btn-primary purchaseButtonStyle" (click)="showInterest()">Interested</button>
        </div>

        <div class="row mb-5" *ngIf="eventData.Payment != 0">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h5>Add Payment</h5>
                <form [formGroup]="paymentCardForm">
                    <div class="input-group">
                        <input type="tel" class="form-control" placeholder="Card Number" formControlName="cardNumber" (keypress) = "numberOnly($event)"
                            (keyup)="creditCardNumberSpacing($event)"> 
                        <p class="error-text"
                            *ngIf="paymentCardFormSubmitted && paymentCardForm.controls.cardNumber.errors?.required">
                            Card Number
                            is required!.</p>
                        <p class="error-text"
                            *ngIf="paymentCardFormSubmitted && paymentCardForm.controls.cardNumber.errors?.minLength">
                            Card number is not valid.</p>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Card Holder Name"
                            formControlName="cardHolderName">
                        <p class="error-text"
                            *ngIf="paymentCardFormSubmitted && paymentCardForm.controls.cardHolderName.errors?.required">
                            Card Holder Name
                            is required!.</p>
                    </div>
                    <!-- <div class="input-group">
                        <input type="text" class="form-control" placeholder="Card Holder Email" formControlName="cardHolderEmail">
                        <p class="error-text" *ngIf="paymentCardFormSubmitted && paymentCardForm.controls.cardHolderEmail.errors?.required">
                            Card Holder Email
                            is required!.</p>
                            <p class="error-text" *ngIf="paymentCardFormSubmitted && paymentCardForm.controls.cardHolderEmail.errors?.email">
                                Card Holder Email
                                is Invalid!.</p>
                    </div> -->
                    <div class="cardInputs">
                        <div class="input-group cvvInput">
                            <input type="tel" class="form-control" placeholder="CVV" formControlName="cardCVV" (keypress) = "numberOnly($event)">
                            <p class="error-text"
                                *ngIf="paymentCardFormSubmitted && paymentCardForm.controls.cardCVV.errors?.required">
                                Card CVV Number
                                is required!.</p>
                            <p class="error-text"
                                *ngIf="paymentCardFormSubmitted && paymentCardForm.controls.cardCVV.errors?.maxLength">
                                Card CVV Number
                                is not valid!.</p>
                        </div>
                        <div class="input-group expiryDateInput">
                            <!-- <input type="tel" class="form-control" placeholder="Ex- MM/YY" formControlName="cardExp"> -->
                            <input type="text" class="form-control" [patterns]="customPatterns"
                            [specialCharacters]="['\/' ]" mask="xx/xx" [showMaskTyped]="true"
                            placeHolderCharacter="x" formControlName="cardExp" [dropSpecialCharacters]="false"/>
                            <p class="error-text"
                                *ngIf="paymentCardFormSubmitted && paymentCardForm.controls.cardExp.errors?.required">
                                Card Expiry Date
                                is required!.</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 pt-4 pt-lg-0">
                <h5>Checkout</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h6 class="font-weight-bold">Family Pass * 1</h6>
                        <h6>${{eventData.TicketPrice}}</h6>
                    </li>
                    <li class="list-group-item">
                        <h6 class="font-weight-normal">Service Fee</h6>
                        <h6>${{eventData.Tax}}</h6>
                    </li>
                    <li class="list-group-item">
                        <h6 class="font-weight-bold">Total Price</h6>
                        <h6>${{+eventData.TicketPrice + +eventData.Tax}}</h6>
                    </li>
                    <li class="list-group-item  d-flex justify-content-center purchaseButton">
                        <button type="button" class="btn btn-primary purchaseButtonStyle" (click)="buyTickets()">Purchase Card</button>
                </ul>
            </div>
        </div>
    </div>
</div>