@import "../../shared/theme/variable.scss";

.submitButtonStyle {
  border-radius: 50px;
  background-color: #116bd9;
  width: auto;
  height: 47px;
  font-size: 22px !important;
}

.form-control{
  margin-top: 0px !important;
}

.mainDiv {
  height: 100vh;
}

.title:after {
  content: "";
  display: block;
  height: 2px;
  background:$tertiary-color;
  width: 47%;
  margin-top: 15px;
}

.schoolLogo{
  // max-width:5% !important
  height: 100px !important;
  width:100px !important
}

.pinImg{
  width: 25px;
}

.eventDesc{
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cardInputs{
  display: flex;
  justify-content: space-between;
}

.form-control{
  background-color:  #f8f8f8!important;
  border: none;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-group{
  padding-left: 30px;
  padding-right: 30px;
  background-color:  #f8f8f8!important;
}

.list-group-item{
  background-color:  #f8f8f8!important;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
}

.purchaseButton{
  border-bottom: none !important;
}

.purchaseButtonStyle {
  border-radius: 50px;
  background-color: #116bd9;
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: none !important;
}

.error-text {
  text-align: left;
    color: red;
    font-size: 12px !important;
    padding: 0px 0rem;
    display: block;
    margin: 5px !important;
    width: 100%;
}


.checkout-card{
  width: 450px;
}
.cvv-input{
  background: #f8f8f8;
  border: none;
  padding: 6px 22px;
}
.card-input{
  background: #f8f8f8;
  border: none;
  padding: 6px 22px;
  width: 100%;
}

.cvvInput{
  padding-right: 15px;
}

.expiryDateInput{
  padding-left: 15px;
}


@media only screen and (min-width: 320px) and (max-width: 500px) {
  .pinImg{
    width: 20px;
    padding-right: 4px;
  }
  .add{
    font-size: 14px;
  }
  .error-text{
    font-size: 11px !important;
  }

}


.interest-btn {
  text-align: center;
}