
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

/* You can add global styles to this file, and also import other style files */

// @import '~@ngx-share/button/themes/default/default-theme';

/* Add application styles & imports to this file! */


@import "./src/app/shared/theme/variable.scss";
@import url('https://fonts.googleapis.com/css?family=Spectral+SC:700');
@import '~ngx-sharebuttons/themes/material/material-dark-theme';
@import '~ngx-sharebuttons/themes/modern/modern-light-theme';
@font-face {
  font-family: "open-sans";
  src: url("./assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "open-sans-bold";
  src: url("./assets/fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "Caros-bold";
    src: url("./assets/fonts/caros-cufonfonts/cretype  Caros Bold.otf");
  }
  
  @font-face {
    font-family: "Caros-normal";
    src: url("./assets/fonts/caros-cufonfonts/cretype  Caros Light.otf");
  }

  @font-face {
    font-family: "Caros-medium";
    src: url("./assets/fonts/caros-cufonfonts/cretype  Caros Medium.otf");
  }


//   * {
//     font-family:'open-sans' !important
//   }

// @import '~@angular/material/theming';

// $custom-typography: mat-typography-config($font-family: 'open-sans');
// @include mat-core($custom-typography);



*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -box-sizing: border-box;
}

img {
    max-width: 100% !important;
}

.normal {
    font-family: "open-sans" !important;
}

.bold {
    font-family: "open-sans-bold";
}


p,span,input{
    font-family: "open-sans" ;
}

h1,
h2{
    font-size: 1.8rem !important;
}

h1,
h2,
h3,
h4 {
    font-family: "open-sans-bold" !important;
    // font-size: 1rem ;
}



.spiner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1032;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        -webkit-animation-name: heartBeat;
        animation-name: heartBeat;
        -webkit-animation-duration: 1.3s;
        animation-duration: 1.3s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }
}
//errror text
.error-text{
    color: red !important;
    font-size: 13px !important;
}

.completer-selected-row {
    background-color: $primary-color !important;
}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}

.card-text {
    ul {
        list-style-type: none !important;
        padding: 5px;
    }
    li {
        font-size: 15px;
    }
}


//Material css
.mat-form-field.mat-focused .mat-form-field-ripple{
    background-color:transparent !important;
    height: 0px !important;
}
@-webkit-keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

//ng completer css
.searchbar .home input{
    color: #fff !important;
}

.searchbar{
    border: 1px solid #dcd4d4 !important;
    border-radius: 100px !important;
    height: 50px !important;
    padding: 7px 5px 7px 5px !important;
    margin: 0px auto;
    width: 75%;
    i{
        width: 15px;
        color: #a7a7a7;
        display: inline-block;
        vertical-align: middle;
    }
    ng2-completer {
        width: 70% ;
        display: inline-block !important;
        vertical-align: middle;
        border: none !important;
        padding: 0px 0px 0px 10px;
        height: 30px !important;
        background: transparent !important;
        input {
            border: none !important;
            width: 100%;
            margin: 0px auto;
            font-size: 15px;
            background: transparent !important;
        }
        input::-ms-clear {
            /* Remove IE default X */
            display: inline !important;
        }
        input::-webkit-input-placeholder{
            color:#fff !important;
        }

        input:-moz-placeholder{
            color:#fff !important;
        }

        input::-moz-placeholder{
            color:#fff !important;
        }
    }
    .btn-success {
        color: #fff;
        background-color: $tertiary-color;
        border-color: $tertiary-color;
        font-size: 15px !important;
        border-radius: 100px !important;
        width: 25%;
        height: 34px;
        padding: 0px;
        display: inline-block !important;
    }
}
.small{
    width: 40% !important;
    height: 45px !important;
    padding: 5px 0px !important;
    ng2-completer {
        width: 72% !important;
        margin: 0px !important;
        height: auto !important;
    }
  }

  //css for material date picker
  .mat-calendar-body-selected{
    background-color:  $tertiary-color;
  }

//css for placeholder color
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #a7a7a7;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #a7a7a7;
   opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #a7a7a7;
   opacity:  1;
  }
   :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #a7a7a7;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
   color:    #a7a7a7;
  }
   ::placeholder { /* Most modern browsers support this now. */
   color:    #a7a7a7;
  }

  //option popup placeholder color change..
  
  .option-popup input::-webkit-input-placeholder{
    color:    #fff !important;
  }
  .option-popup input:-moz-placeholder{
    color:    #fff !important;
  }
  .option-popup input::-moz-placeholder{
    color:    #fff !important;
  }
  .option-popup input:-ms-input-placeholder{
    color:    #fff !important;
  }
  .option-popup input::-ms-input-placeholder{
    color:    #fff !important;
  }
  .option-popup input::placeholder{
    color:    #fff !important;
  }


.completer-dropdown-holder {
    width: 100%;
}

.completer-dropdown {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.completer-list-item {
    font-size: 15px !important;
    text-align: left !important;
    // background: red;
}

.desc h2 {
    font-family: "open-sans-bold" !important;
}

.desc,
.last-desc {
    p,
    span {
        font-size: 1rem !important;
    }
}

button:focus, select:focus{
    outline-color: transparent !important;
    outline-width: 0px !important;
    box-shadow: none !important;
    // background-color: $primary-color;
}

//caresoul slider css of business page..
.next-img,.prev-img{
    width: 35px !important;
    height: 35px !important;
}
.prev-img{
  background-image: url('./assets/left-arrow.png') !important;
 
}

.next-img{
    background-image: url('./assets/right-arrow.png') !important;
   
}

.busniess-caresoul{
  width: 7% !important;
  opacity: 1 !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//material select css
.select-school-div,.select-card-div{
    .mat-form-field{
        border: 1px solid #222;
        border-radius: 100px;
    }
    .mat-form-field-wrapper{
        width: 400px;
        height: 42px;
        padding: 5px 10px;
    }
    .mat-form-field-flex{
        padding: 0px !important;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex{
        background: transparent !important;
    }
    .mat-form-field-underline{
        width: 0px !important;
    }
    .mat-select-arrow-wrapper{
        display: inline !important;
    }
    .mat-form-field-infix{
        padding: 7px 5px !important;
        border-top: 0px transparent !important;
    }
     .mat-select-arrow {
        border-left: 15px solid transparent !important;
        border-right: none !important;
        border-top: 15px solid transparent !important;
        border-image-source: url('./assets/arrow-down.png') !important;
        border-image-repeat: stretch !important;
    }
}
.select-gender-div{
    .mat-form-field{
        border: 1px solid #222;
        border-radius: 100px;
    }
    .mat-form-field-wrapper{
        width: 348px;
        height: 41px;
        padding: 5px 10px;
    }
    .mat-form-field-flex{
        padding: 0px !important;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex{
        background: transparent !important;
    }
    .mat-form-field-underline{
        width: 0px !important;
    }
    .mat-select-arrow-wrapper{
        display: inline !important;
    }
    .mat-form-field-infix{
        padding: 7px 5px !important;
        border-top: 0px transparent !important;
    }
     .mat-select-arrow {
        border-left: 15px solid transparent !important;
        border-right: none !important;
        border-top: 15px solid transparent !important;
        border-image-source: url('./assets/arrow-down.png') !important;
        border-image-repeat: stretch !important;
    }
}
.select-gender-div.singup{
    .mat-form-field{
        border: 1px solid #fff !important;
    }
    .mat-form-field-wrapper{
        width: 250px;
    }
    .mat-select-value{
        color: #fff;
    }
    
}

.filter-div .mat-button-wrapper{
    color: $tertiary-color;
}

//prev,next button
.prev {
    display: block;
    position: absolute;
    z-index: 1000;
    top:50%;
    left: -20px;
    transform: translateY(-50%);
    i{
        color: $primary-color;
        font-size: 3rem;
    }
  }
  
  .next {
    display: block;
    position: absolute;
    right: 0px;
    top:50%;
    transform: translateY(-50%);
    right: -18px;
    z-index: 1000;    
    i{
        color: $primary-color;
        font-size: 3rem;
    }
  }
 
  .next-1{
    right: -10px !important;
  }
  .prev-1{
    left: -20px !important;
  }
 
//datepicker css

.datepicker .mat-form-field-wrapper .mat-form-field-flex{
    border: 1px solid #ccc !important;
    border-radius: 100px !important;
    padding: 10px !important;
    height: 40px !important;
}

.mat-form-field-underline{
    height: 0px !important;
}
.datepicker .mat-form-field-wrapper .mat-form-field-flex  .mat-form-field-infix{
    padding: 0px !important;
    border-top: none !important;
}


//overlay issue on profile select
.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
 }

.searchbar.option-popup ng2-completer input{
    color: #fff !important;
  }


/*-----MODAL css-----*/

.modal-header{
    padding: 1rem 1rem 0px 1rem !important;
}
.modal-lg{
    width: 700px !important;
}
.modal-content{
    border-radius: 15px !important;
    border: 0px solid transparent !important;
}
.modal{
    top:2% !important;
}


.close.pull-right{
    position: absolute;
      top: 20px;
      right: 10px;
      transform: translate(-50%, -11%);
      color: #fff;
      opacity: 1;
      font-size: 39px;
  
  }

  .filtermodal .modal-header .close{
    position: absolute;
    top: -44px;
    left: 50%;
    transform: translate(-32%, 0px);
    opacity: 1;
  }
  .filtermodal .modal-dialog{
    margin: 2.75rem auto !important;
}


@media (max-width:768px) {
    .desc,
    .last-desc {
        p,
        span {
            font-size: 0.8rem !important;
        }
    }
    .searchbar{
        width: 50% !important;
    }
    .searchbar.option-popup  ng2-completer, .searchbar ng2-completer{
        width:60% !important
    }
    .searchbar.option-popup  .btn-success, .searchbar  .btn-success{
        width:30% !important
    }
    .searchbar.option-popup{
        width: 80% !important;
    }
}



  /*------RESPONSIVE CSS START HERE------*/
/*---SMALL DEVIES------*/
@media only screen and (min-width: 320px) and (max-width: 500px) {
    //material select css
    .select-school-div,.select-card-div{
        text-align: center;
        margin-top: 2rem;
        .mat-form-field-wrapper{
            width: 300px;
          }
    }

        .filter-div {
            .mat-form-field-wrapper {
                padding-bottom: 0px !important;
            }
        }
    .add-minus-div,.checkout-card{
        margin-top: 2rem !important;
    }
    .select-gender-div{
        .mat-form-field{
            width: 100% !important;
        }
        text-align: center;
        .mat-form-field-wrapper{
            width: auto;
          }
    }
    .select-gender-div.singup{
        
        .mat-form-field-wrapper{
            width: auto !important;
        }
    }

    .modal{
        top:0!important;
    }
    .filtermodal{
        top:10px !important;
    }
    .modal-lg{
        width: auto !important;
    }
    .searchbar{
        width: auto !important;
    }

    .searchbar.option-popup  ng2-completer, .searchbar ng2-completer{
        width:60% !important
    }
    .searchbar.option-popup  .btn-success,.searchbar  .btn-success{
        width:30% !important
    }
    .searchbar.option-popup{
        width: 80% !important;
    }

    .next{
        right: -9px;
    }
    .prev{
        left: -9px;
    }
    .next-1{
        right: -9px !important  ;
    }
    .prev-1{
        left: -9px !important;
    }
    .next,.prev,.next-1,.prev-1{
        i{
            font-size: 2rem;
        }
    }

}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white !important;
    background-color: #177be9 !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
    font-weight: 600;
}

.nav-tabs .nav-link {
    background-color: lightgrey;
    color: gray !important;
    font-weight: 600;
}

.no-found {
    text-align: center;
    color: #d5d6d7;
    font-size: 35px;
}

@media only screen and (width: 768px) and (height: 1024px) {
    .select-school-div .mat-form-field-wrapper,.select-card-div .mat-form-field-wrapper{
        width: 250px !important;
    }
    .checkout-card{
        width: 100% !important;
    }
    .select-gender-div .mat-form-field-wrapper{
        width: 200px !important;
    }
    
}