@import "../../shared/theme/variable.scss";
.restaurent-detail-section {
  .bg-content {
    padding-top: 100px;
    // background: $primary-color;
    background: linear-gradient(90deg, #2ea5f9, #2998e6, #1477ea);
    // height: 550px;
  }
  .title-info-div {
    margin: 10px 0px;
    color: #fff;
    h2 {
      font-family: "open-sans-bold" !important;
      font-size: 45px;
      margin: 10px 0px;
    }
    span {
      padding: 10px 0px;
    }
    .subtitle {
      font-size: 26px;
      letter-spacing: 1px;
      margin: 10px 0px;
      font-weight: bold;
      font-family: 'open-sans-bold' !important;
    }
    .subText {
      margin: 2px 0px;
      font-size: 14px;
    }

    .share-div {
      margin: 10px 0px;
      i {
        display: inline-block;
        width: 20px;
        vertical-align: middle;
        font-size: 19px;
      }
      p {
        display: inline-block;
        margin: 0px 10px;
        font-size: 17px;
        vertical-align: top;
      }
    }
  }
  .btn-outline-light {
    color: #fff;
    border-color: #fff;
    border-radius: 50px;
    width: 46%;
    border-width: 1px;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    .material-icons {
      padding-right: 4px;
      color: #fff;
      vertical-align: middle;
    }
  }
  .btn-outline-light:hover {
    background-color: #fff;
    color: $primary-color !important;
    .material-icons {
      color: $primary-color !important;
    }
  }
  // .carousel-inner .active.left {
  //   left: -50%;
  // }
  // .carousel-inner .next {
  //   left: 50%;
  // }
  // .carousel-inner .prev {
  //   left: -50%;
  // }
  .carousel-control.left,
  .carousel-control.right {
    background-image: none;
  }
  // .carousel-inner .carousel-item img{width: 100%;}
  .carousel-item img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  .carousel-indicators {
    bottom: -53px;
    li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}
.table
{
  color: #fff;
  font-size: 14px;
}
.table td, .table th
{
  border: none;
  padding: .35rem;
}
.carousel.slide{
  width: 100%;
}
// .cardimg {
//   img {
//    max-width: 100% !important;
//    width: 100%;
//   }
// }
.descrption-section {
  margin: 1rem 0px 4rem 0px;
  .desc-section {
    p {
      font-size: 16px;
      font-weight: 600;
    }
  }
}
.map {
  height: 500px;
  width: 100%;
  box-shadow: 6px 1px 17px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 10px;
}

//card css...

//card css
.card-img {
  height: 130px !important;
  position: relative;
  border-radius: 10px;
}

.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.card {
  border-radius: 10px;
  box-shadow: 0 0px 13px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
}
.card-body {
  img {
    // width: fit-content;
    display: inline-block;
  }
  p {
    display: inline-block;
    margin: 0px 10px;
    font-weight: bold;
    font-size: 20px;
  }
}
.card-overlay {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  width: 100%;
  height: 130px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

//near by deals css..
.near-by-deals {
  h2 {
    font-family: "open-sans-bold" !important;
    font-size: 30px;
    margin: 10px 0px;
    color: $primary-color;
  }
}
.star-image{
  width: 70%;
}
.carousel.slide{
  background: #fff;
  padding: 15px;
  border-radius: 5px;
}


@media only screen and (min-width: 320px) and (max-width: 414px) {
  
  .col-sm-6 {
    width: 50% !important;
  }
  .caresoul-div {
    background: $primary-color;
  }
  .cardimg {
    // img {
    //   width: 100% !important;
    // }
    height: auto !important;
    margin: 0px auto !important;
  }
  .descrption-section {
    // margin: 7rem 0px 2rem 0px;
    text-align: center;
  }
  .map {
    width: 100%;
    height: 400px;
    margin: 0px auto;
  }
  .near-by-deals {
    padding-left: 15px;
  }
  .pin-offer{
    width: 100% !important;
  }
  .inner-div{
    float: right;
    margin: 5rem 2rem;
    width: 123px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   p{
    color: #ffff;
    font-weight: bolder;
    font-size: 13px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   }
  }
 
}

@media only screen and (max-width: 768px){
  .carousel.slide{
    margin-bottom: 50px;
  }
  .pin-offer{
    width: 100% !important;
  }
  .inner-div{
    float: right;
    margin: 5rem 2rem;
    width: 123px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   p{
    color: #ffff;
    font-weight: bolder;
    font-size: 13px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   }
  }
  .pin-offer{
    margin: 10px 5px !important;
  }
}


.pin-offer{
  border-radius: 6px;
  padding-top: 10px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
  margin: -20% auto 0;
  width: 78%;
  background: #fff;
 
  .back-img{
    background-size: 100% 100%;
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    .title{
      padding-top: 26px;
      color: #ffff;
      font-weight: bolder;
      font-size: 16px;
      margin: 0px auto;
      width: 79%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .inner-div{
    float: right;
    margin: 5rem 2rem;
    // width: 123px;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
   p{
    color: #ffff;
    font-weight: bolder;
    font-size: 13px;
    // margin: 0px;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
   }
  }
   
}