<!-- <div class="contact-form text-center mt-5 pt-5"> -->
  <div class="maindiv-section mt-5 pt-5">
  <div class="container pt-5">
    <h2>Contact Us</h2>
    <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
    <form [formGroup]="contactForm">
      <div class="row pt-4">
        <div class="col-md-4 p-2">
          <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp"
            placeholder="Your Name*" formControlName="name">
          <p class="error-text" *ngIf="contactFormSubmitted && contactForm.controls.name.errors?.required">Name is required!.
          </p>
        </div>
        <div class="col-md-4 p-2">
          <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
            placeholder="Email Address*" formControlName="emailAddress">
          <p class="error-text" *ngIf="contactFormSubmitted && contactForm.controls.emailAddress.errors?.required">
            Email id is required!.</p>
          <p class="error-text" *ngIf="contactFormSubmitted && contactForm.controls.emailAddress.errors?.email">Email id
            is not valid.
          </p>
        </div>
        <div class="col-md-4 p-2">
          <input type="text" class="form-control" id="inputContact" aria-describedby="phoneNumberHelp"
            placeholder="Phone Number*" formControlName="phoneNumber">
          <p class="error-text" *ngIf="contactFormSubmitted && contactForm.controls.phoneNumber.errors?.required">Phone Number is
            required!.
          </p>
        </div>
        <div class="col-md-12 p-2">
            <textarea class="form-control" id="inputMessage" rows="5" aria-describedby="messageHelp"
            placeholder="Message" formControlName="message"></textarea>
          <p class="error-text" *ngIf="contactFormSubmitted && contactForm.controls.message.errors?.required">
            Message is required!.
          </p>
        </div>
        <div class="btn-div m-auto pt-5 pb-5">
          <button type="button" class="btn btn-primary" (click)="contactUsSubmit()">Submit</button>
        </div>
      </div>
    </form>
    <!-- sucess alert -->
    <div class="alert alert-success mt-4 mb-4 text-center" *ngIf="responseText">
      <strong> {{responseText}}</strong>
    </div>
  </div>
</div>
