@import '../../../shared/theme/variable.scss';
/* contact-form */
.title:after {
  content: "";
  display: block;
  height: 2px;
  background: $tertiary-color;
  width: 47%;
  margin-top: 15px;
}
.contact-form{
    padding: 25px 5px;
    // height:100vh;
    h2{
        font-weight: 700;
        letter-spacing: 1px;
    }
    p{
        font-size: 1rem;
        margin: 5px auto;
        letter-spacing: 0.5px;
        font-weight: 100;
    }
    .form-control{
        background: transparent;
        border: 1.3px solid #dad2d2;
        // border-bottom: 1.3p  x solid #dad2d2;
        border-radius: 0px !important;
        margin: 10px 0px;
        box-shadow: none !important;
        padding: 25px;
    }
    input::placeholder {
        color:rgba(0,0,0,0.5) !important;
        opacity: 1;
        font-size: 17px;
        letter-spacing: 1px;
        font-weight: 100 !important;
      }
}
.btn-primary{
    background-color: #0068e1;
    color: #fff;
    width: 200px;
    height: 50px;
    border-width: 2px;
    border-color: transparent;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 100px;
}
.error-text{
    text-align: left;
    color: red;
    font-size: 12px !important;
    padding: 0px 0rem;
    margin: 5px !important;
}
