<div class="maindiv-section mt-5 pt-5 pb-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
        <h2 class="title">FAQ</h2>
      </div>
    </div>
    <div class="detailsBtn">
      <ul id="myTabs" class="nav nav-pills nav-justified" role="tablist" data-tabs="tabs">
        <li class="studentLink active"><a class="nav-link active d-flex justify-content-center align-items-center"
            href=" #accordion" data-toggle="tab">
            <p>Student</p>
          </a></li>
        <li class="businessLink"><a class="nav-link d-flex justify-content-center align-items-center"
            href=" #accordion2" data-toggle="tab">
            <p>Business</p>
          </a></li>
        <li class="schoolLink"><a class="nav-link d-flex justify-content-center align-items-center" href=" #accordion3"
            data-toggle="tab">
            <p>School</p>
          </a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade show active" id="accordion">
          <div *ngFor="let faq of faqs; let i=index;">
            <ng-container *ngIf="faq.Category == 'Student'">
              <div class="hrBorder mt-5">
                <div class="hrBorder-header mt-4 mb-4" id="headingOne">
                  <h5 class="mb-0 mr-3 ml-3">
                    <a class="hrBorder-header-link" data-toggle="collapse" [attr.data-target]="'#collapse'+i"
                      aria-expanded="true" aria-controls="collapseOne">
                      {{faq.Title}}
                    </a>
                    <!-- <i class="fa fa-plus" aria-hidden="true" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne"></i> -->
                  </h5>
                </div>
                <div [attr.id]="'collapse'+i" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#accordion2">
                  <div class="hrBorder-body">
                    <p class="accordion-text mr-3 ml-3 mt-3 mb-3">
                      {{faq.Discription}}
                    </p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="accordion2">
          <div *ngFor="let faq of faqs; let i=index;">
            <ng-container *ngIf="faq.Category == 'Business'">
              <div class="hrBorder mt-5">
                <div class="hrBorder-header mt-4 mb-4" id="headingOne">
                  <h5 class="mb-0 mr-3 ml-3">
                    <a class="hrBorder-header-link" data-toggle="collapse" [attr.data-target]="'#collapse'+i"
                      aria-expanded="true" aria-controls="collapseOne">
                      {{faq.Title}}
                    </a>
                    <!-- <i class="fa fa-plus" aria-hidden="true" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne"></i> -->
                  </h5>
                </div>
                <div [attr.id]="'collapse'+i" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#accordion2">
                  <div class="hrBorder-body">
                    <p class="accordion-text mr-3 ml-3 mt-3 mb-3">
                      {{faq.Discription}}
                    </p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="accordion3">
          <div *ngFor="let faq of faqs; let i=index;">
            <ng-container *ngIf="faq.Category == 'School'">
              <div class="hrBorder mt-5">
                <div class="hrBorder-header mt-4 mb-4" id="headingOne">
                  <h5 class="mb-0 mr-3 ml-3">
                    <a class="hrBorder-header-link" data-toggle="collapse" [attr.data-target]="'#collapse'+i"
                      aria-expanded="true" aria-controls="collapseOne">
                      {{faq.Title}}
                    </a>
                    <!-- <i class="fa fa-plus" aria-hidden="true" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne"></i> -->
                  </h5>
                </div>
                <div [attr.id]="'collapse'+i" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#accordion2">
                  <div class="hrBorder-body">
                    <p class="accordion-text mr-3 ml-3 mt-3 mb-3">
                      {{faq.Discription}}
                    </p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>