@import "../../shared/theme/variable.scss";

.accordion .exa-header {
  background: url("../../../assets/app-image.png") no-repeat;
  // background: url(icon-down.png) no-repeat;
  background-position: right center;

  background-size: 15px;
  // float: right;
}
.accordion .exa-header.collapsed {

  background: url("../../../assets//arrow-down.png") no-repeat;
  background-position: right center;
  background-size: 15px;
}

.title:after {
  content: "";
  display: block;
  height: 2px;
  background: $tertiary-color;
  width: 47%;
  margin-top: 15px;
}
//school-card css......
.bg-content {
  background: $primary-color;
  // border-bottom-left-radius: 48% 20%;
  // border-bottom-right-radius: 48% 20%;
  width: 100%;
  height: 300px;
}

.title {
  h1 {
    font-family: "open-sans-bold" !important;
    width: 100%;
  }

  p {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
  }
}

.fancard-details {
  // margin-top: 30px;
}

// .next-btn {
//   padding: 16px 35% 16px 35%;
//   border: 2px solid;
//   border-radius: 50px;
//   font-size: 28px;
//   background-color: #ffffff;
//   color: #0275d8;
// }

.next-btn:hover {
  background-color: #0275d8;
  color: #ffffff;
}

.btn-div {
  padding: 0px 75px;
}

.plusIcon {
  float: right;
}

// <-------------------Collapse Bar CSS----------------------->
.hrBorder {
  border-bottom: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
}

.hrBorder-body {
  border-top: 1px solid #dcdcdc;
}

.hrBorder-header-link {
  text-decoration: none;
  color: #333;
  font-size: 22px;
  font-weight: bold;
}

.accordion-text {
  color: #6c6c6c;
  font-size: 22px;
}

.fa {
  float: right;
}

.fa:hover {
  color: #0275d8;
}

ul {
  a {
    color: $primary-color;
    // border: 2px solid;
    border-color: $primary-color;
    border-radius: 50px;
    height: 65px;
    padding: 0px !important;
  }
}

li {
  width: 30%;
}

li a p {
  font-size: 22px;
  text-align: center;
  margin: 0px !important;
}

.detailsBtn ul a {
  border: 2px solid;
  border-color: #2096f1;
}
.businessLink {
  margin: 0px 55px 0px 55px;
}
// <-------------------------------------------MEDIA-QUERY------------------------------------>

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .studentLink {
    width: 100%;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 30px;
  }

  .businessLink {
    width: 100%;
    margin: 0px !important;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 30px;
  }

  .schoolLink {
    width: 100%;
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media only screen and (min-width: 501px) {
}

/*ipad ipad pro...*/

@media only screen and (min-width: 800px) {
}

/*mac , macbook ...*/

@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  .businessLink {
    margin: 0px 44px 0px 44px;
  }
}

//  mac book pro , and macbook retina display screen

@media only screen and (min-width: 1920px) and (max-width: 2560px) {
}

/* ipad special media query*/

@media only screen and (width: 768px) and (height: 1024px) {
  .businessLink {
    margin: 0px 34px 0px 34px;
  }
}

.fa-minus::before {
  color: #0275d8;
}

.fa-plus::before {
  color: #7b7b7b;
}